<div class="full-width full-height">
  <mat-list *ngIf="!fromPopUp" class="soft-phone-user full-width height-50">
    <mat-list-item class="padding-mini-r-l full-height">
      <img [alt]="loggedInUser ? loggedInUser.name : ''"
           [src]="'assets/profileImg/'+ loggedInUser ? loggedInUser.email : '0' +'.jpg'"
           class="mat-elevation-z2"
           matListAvatar
           onerror="this.src='assets/profileImg/0.jpg'">
      <h3 class="font-8-rem text-weight-bold" matLine> {{loggedInUser ? loggedInUser.name : ''}} </h3>

      <div class="font-8-rem">
        <button (click)="addNewContact()"
                class="green-gradient padding-mini-r-l text-white line-height-30 font-9-em overflow-hide text-weight-normal"
                mat-raised-button>
          <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">add</mat-icon>
          <span class="padding-mini-r-l">{{'soft_phone.soft_phone_contacts.new_contact' | translate}}</span>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
  <div class="contact-search height-45 padding-half">
    <input #contactList
           (input)="filterContacts(contactList.value)"
           class="full-width full-height round-corner padding-mini-r-l line-height-45"
           placeholder="{{'global.search' | translate}}"
           type="text">
  </div>

  <div class="height-full-minus-95 padding-r-l overflow-x-hide overflow-y-auto">
    <mat-list [disabled]="disableContacts">
      <mat-list-item (click)="!fromPopUp ? openSheet(contact) : transferCall(contact)"
                     *ngFor="let contact of filteredUsers | myFilter:filterArgs"
                     class="cursor-pointer full-width height-45 font-8-rem">
        <mat-icon mat-list-icon>person</mat-icon>

        <div mat-line>{{contact.extension_name}}</div>

        <div class="text-gray-700 margin-r-l">{{contact.extension_no}}</div>

        <button (click)="editContact(contact); $event.stopPropagation();" *ngIf="!fromPopUp"
                class="cursor-pointer no-bg no-border width-30 height-30 text-center text-green-500">
          <mat-icon class="full-width full-height text-center line-height-30 font-full-plus-two-tenth-rem">edit
          </mat-icon>
        </button>

        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="fromPopUp"
       class="height-45 padding-mini-t-b padding-r-l full-width display-flex flex-direction-row-reverse flex-space-between">
    <button (click)="dismissTransferCall()" [disabled]="disableContacts"
            class="full-width red-gradient text-white line-height-30 font-9-em text-weight-normal"
            mat-raised-button
            type="button">
      <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
    </button>
  </div>
</div>
