:host {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.key {
  background-color: #e1e1e1;
  min-width: inherit !important;
}

.key-container {
  height: calc(100% - 120px);
  padding: 1em 4em;
}

.input-holder {
  padding: .5em 3em !important;
}

.dialer {
  height: 50px;

  .key {
    background-color: #4ec060;
  }
}

.remove-number {
  right: 6.5em;
}
