<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     class="box mat-elevation-z1 pos-rel text-center round-corner width-40 height-40 overflow-hide">
  <img [matMenuTriggerFor]="profileMenu" class="full-width full-height cursor-pointer"
       [src]="loggedInUser && loggedInUser.profile_image ? loggedInUser.profile_image : 'assets/profileImg/'+ loggedInUser ? loggedInUser.email : '0' +'.jpg'"
       onerror="this.src='assets/profileImg/0.jpg'"
       [alt]="loggedInUser ? loggedInUser.name : ''">
</div>
<mat-menu class="toolbar-menu box-menu-profile padding-r-l" #profileMenu="matMenu" xPosition="before" yPosition="above">
  <ng-container *ngIf="loggedInUser">
    <h4 mat-subheader matLine class="padding-half text-weight-normal font-9-rem text-dark-mode-color no-margin">
      <mat-icon class="text-dark-mode-color text-gray-600" [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'">
        person_outline
      </mat-icon>

      <span class="display-flex flex-direction-column">
      <span matLine>{{loggedInUser ? loggedInUser.name : ''}}</span>

      <span matLine class="font-8-em">{{loggedInUser ? loggedInUser.role.title : ''}}</span>
    </span>
    </h4>
    <button mat-menu-item (click)="settingProfile()" class="font-7-rem padding-mini-r-l">
      <mat-icon class="text-dark-mode-color">settings</mat-icon>
      <span class="text-dark-mode-color">{{'profileSettings.profile_settings' | translate}}</span>
    </button>
    <button mat-menu-item (click)="logout()" class="font-7-rem padding-mini-r-l">
      <mat-icon class="text-dark-mode-color">power_settings_new</mat-icon>
      <span class="text-dark-mode-color">{{'dashboard.dashboard_toolbar.exist_app' | translate}}</span>
    </button>
  </ng-container>
</mat-menu>
