<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     class="box mat-elevation-z1 pos-rel text-center round-corner width-40 height-40 overflow-hide">
  <img [matMenuTriggerFor]="profileMenu" class="full-width full-height cursor-pointer"
       [src]="'assets/profileImg/'+ loggedInUser.email +'.jpg'"
       onerror="this.src='assets/profileImg/0.jpg'"
       [alt]="loggedInUser.name">
</div>
<mat-menu class="toolbar-menu box-menu-profile padding-r-l" #profileMenu="matMenu" xPosition="before" yPosition="above">
  <h6 mat-subheader class="padding-half text-weight-normal font-9-rem text-dark-mode-color">
    {{loggedInUser.name}}
  </h6>
  <button mat-menu-item (click)="settingProfile()" class="font-7-rem padding-mini-r-l">
    <mat-icon class="text-dark-mode-color">settings</mat-icon>
    <span class="text-dark-mode-color">{{'global.settings' | translate}}</span>
  </button>
  <button mat-menu-item (click)="logout()" class="font-7-rem padding-mini-r-l">
    <mat-icon class="text-dark-mode-color">power_settings_new</mat-icon>
    <span class="text-dark-mode-color">{{'dashboard.dashboard_toolbar.exist_app' | translate}}</span>
  </button>
</mat-menu>
