<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="pos-abs left-0 right-0 top-0 bottom-0">
  <div class="switch-container height-45 padding-mini-t-b padding-r-l">
    <mat-button-toggle-group #viewMode="matButtonToggleGroup"
                             (change)="changeViewMode(viewMode.value)"
                             [ngClass]="{'view-mode': viewMode}"
                             [value]="viewModeTypes"
                             class="full-width mat-button-custom height-30 line-height-15 round-corner-all">
      <mat-button-toggle [value]="'contact'" class="overflow-hide half-width font-7-rem line-height-15 height-30">
        <span>{{'soft_phone.main.address_book' | translate}}</span>
      </mat-button-toggle>
      <mat-button-toggle [value]="'keypad'" class="overflow-hide half-width font-7-rem line-height-15 height-30">
        <span>{{'soft_phone.main.dial_pad' | translate}}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="component-container height-full-minus-45 pos-rel">
    <ng-container [ngSwitch]="viewModeTypes">
      <app-soft-phone-contacts (triggerCloseBottomSheet)="closeTransferBottomSheet()"
                               *ngSwitchCase="'contact'"
                               [fromPopUp]="true"
                               [loggedInUser]="loggedInUser"
                               [rtlDirection]="rtlDirection"
                               [softPhoneUsers]="softPhoneUsers"></app-soft-phone-contacts>

      <app-soft-phone-keypad (triggerCloseBottomSheet)="closeTransferBottomSheet()"
                             *ngSwitchCase="'keypad'"
                             [fromPopUp]="true"
                             [rtlDirection]="rtlDirection"
                             [softPhoneUsers]="softPhoneUsers"></app-soft-phone-keypad>
    </ng-container>
  </div>
</div>
