@import '../../../assets/mixin';

.banner {
  background: url('assets/bg/banner.jpg');
  border-bottom: solid 1px #c3c3c3;

  .close-icon,
  .minimize-icon {
    width: 18px;
    height: 18px;
  }

  .close-icon {
    line-height: 21px;
    background-color: #FF605B;
  }

  .minimize-icon {
    line-height: 0;
    background-color: #ffc02c;

    .mat-icon {
      line-height: 9px;
    }
  }
}

.card-bg {
  @include rounded(10px);
  @include transition(.4s all);

  width: 400px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    width: 110%;
    top: -5px;
    right: -6px;
    height: 100%;
    background-color: white;
    border-radius: 0 0 200px/100px 0;
    transform: rotate(8deg);
    z-index: 1;
  }

  &::after {
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 124px;
    z-index: 0;
  }

  .mat-icon {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
  }

  &:hover {
    .mat-icon {
      animation-name: bounce-7;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

      @keyframes bounce-7 {
        0% {
          transform: scale(1, 1) translateY(0);
        }
        10% {
          transform: scale(1.1, .9) translateY(0);
        }
        30% {
          transform: scale(.9, 1.1) translateY(-10px);
        }
        50% {
          transform: scale(1.05, .95) translateY(0);
        }
        57% {
          transform: scale(1, 1) translateY(-7px);
        }
        64% {
          transform: scale(1, 1) translateY(0);
        }
        100% {
          transform: scale(1, 1) translateY(0);
        }
      }
    }
  }

  &.service-task-management {
    &:hover {
      box-shadow: 0 2px 4px -1px rgb(68, 30, 82),
      0px 10px 25px -7px #ff46fa,
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    &::after {
      background-image: linear-gradient(135deg, #FF7AF5 10%, #513162 100%);
    }

    .mat-card-title {
      color: #513162;
    }

    .mat-icon {
      color: #513162;
    }
  }

  &.service-crm {
    &:hover {
      box-shadow: 0 2px 4px -1px rgb(255, 51, 96),
      0px 10px 25px -7px #ff811d,
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    &::after {
      background-image: linear-gradient(135deg, #ff9a44 10%, #fc6076 100%);
    }

    .mat-card-title {
      color: #fc6076;
    }

    .mat-icon {
      color: #fc6076;
    }
  }

  &.service-chat {
    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0, 121, 226, 0.2),
      0px 10px 25px -7px #0079e2,
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    &::after {
      background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    }

    .mat-card-title {
      color: #625EB1;
    }

    .mat-icon {
      color: #1D8FE1;
    }
  }

  &.service-conference {
    &:hover {
      box-shadow: 0 2px 4px -1px rgb(5, 23, 50),
      0px 10px 25px -7px #3b6586,
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }

    &::after {
      background-image: linear-gradient(315deg, #09203f 0%, #537895 74%);
    }

    .mat-card-title {
      color: #09203f;
    }

    .mat-icon {
      color: #09203f;
    }
  }
}

.profile-info {
  .profile-img {
    border: solid 5px #FFF;
    top: -2em;
  }

  .profile-name {
    text-shadow: 0 0 11px #999;

    .role-container {
      border: solid 1px #DDD;
      width: fit-content;
    }
  }
}

.change-status-btn {
  bottom: 1em;
}

.blink-effect {
  animation: blink 1.6s infinite linear;
}

.status-item {
  &.status-lunch_time {
    @include transition(all .4s);

    animation: blink-status-lunch_time 1s infinite linear;
  }

  &.status-meeting {
    @include transition(all .4s);

    animation: blink-status-meeting 1s infinite linear;
  }

  &.status-smoking {
    @include transition(all .4s);

    animation: blink-status-smoking 1s infinite linear;
  }

  &.status-mission {
    @include transition(all .4s);

    animation: blink-status-mission 1s infinite linear;
  }

  &.status-leave {
    @include transition(all .4s);

    animation: blink-status-leave 1s infinite linear;
  }

  &.status-game {
    @include transition(all .4s);

    animation: blink-status-game 1s infinite linear;
  }

  &.status-other {
    @include transition(all .4s);

    animation: blink-status-other 1s infinite linear;
  }
}

@keyframes blink-status-lunch_time {
  0% {
    color: #888;
    box-shadow: none;
  }
  33.33333% {
    color: #f94850;

    box-shadow: 0 2px 4px -1px #ff0844,
    0px 10px 25px -7px #ffb199,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}
@keyframes blink-status-meeting {
  0% {
    color: #888;
    box-shadow: none;
  }
  33.33333% {
    color: #818cbc;

    box-shadow: 0 2px 4px -1px #818cbc,
    0px 10px 25px -7px #80d0c7,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}
@keyframes blink-status-smoking {
  0% {
    color: #888;
    box-shadow: none;
  }
  33.33333% {
    color: #304352;

    box-shadow: 0 2px 4px -1px #304352,
    0px 10px 25px -7px #d7d2cc,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}

@keyframes blink-status-mission {
  0% {
    color: #888;
    box-shadow: none;
  }
  33.33333% {
    color: #30cfd0;

    box-shadow: 0 2px 4px -1px #30cfd0,
    0px 10px 25px -7px #8fd3f4,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}

@keyframes blink-status-leave {
  0% {
    color: #888;
    box-shadow: none;
  }
  33.33333% {
    color: #feb051;

    box-shadow: 0 2px 4px -1px #fa709a,
    0px 10px 25px -7px #fee140,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}

@keyframes blink-status-game {
  0% {
    color: #888;
    box-shadow: none;
  }
  33.33333% {
    color: #c471f5;

    box-shadow: 0 2px 4px -1px #fa71cd,
    0px 10px 25px -7px #c471f5,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}

@keyframes blink-status-other {
  0% {
    color: #888;
    box-shadow: none;
  }
  33.33333% {
    color: #98997e;

    box-shadow: 0 2px 4px -1px #98997e,
    0px 10px 25px -7px #fbfcdb,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}
