<nb-layout>
  <nb-layout-column class="no-padding">
    <div class="height-250 banner pos-rel">
      <div class="window-control pos-abs top-full left-full">
        <a (click)="closeApp()"
           matTooltip="{{'HOME.DASHBOARD.CLOSE' | translate}}" matTooltipPosition="below"
           class="close-icon display-block float-left round-corner-all cursor-pointer margin-r-half">
          <mat-icon class="full-width full-height text-center font-9-em text-white">close</mat-icon>
        </a>

        <a (click)="minimizeApp()"
           matTooltip="{{'HOME.DASHBOARD.MINIMIZE' | translate}}" matTooltipPosition="below"
           class="minimize-icon display-block float-left round-corner-all cursor-pointer">
          <mat-icon class="full-width full-height text-center font-9-em text-white">minimize</mat-icon>
        </a>
      </div>

      <div class="profile-info pos-abs full-width height-100 bottom-0">
        <div
          class="profile-img float-right round-corner-all overflow-hide margin-r-full-3 margin-l-full mat-elevation-z3">
          <img class="full-width full-height" [src]="'/assets/profileImg/1.jpg'" alt="">
        </div>

        <div class="profile-name float-right padding-full">
          <h1 class="font-full-plus-half-em text-weight-500 margin-b-four-tenth">
            امید خسروجردی
          </h1>

          <div class="role-container round-corner bg-white">
            <h4 class="padding-half height-30 line-height-15 no-margin text-weight-500 text-pink-500 font-9-em">
              مسئول بخش طراحی
            </h4>
          </div>
        </div>

        <button mat-raised-button
                (click)="changeStatus()"
                class="change-status-btn white-gradient pos-abs left-full line-height-30 font-7-em overflow-hide text-weight-normal">
          <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">sync_problem</mat-icon>
          <span class="padding-mini-r-l">تغییر وضعیت</span>
        </button>
      </div>
    </div>

    <div class="padding-full-3">
      <mat-grid-list *ngIf="serviceList.length" cols="4" gutterSize="30" rowHeight="200px">
        <mat-grid-tile
          class="board-container"
          *ngFor="let service of serviceList"
          [colspan]="1"
          [rowspan]="1">
          <mat-card (click)="openApi(service)"
                    class="full-width full-height round-corner mat-elevation-z1 card-bg overflow-hide cursor-pointer"
                    [ngClass]="service.classList">
            <mat-card-header class="pos-rel z-index-99">
              <mat-card-title>
                {{service.serviceNameFa}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="pos-rel z-index-99">
              <mat-icon class="full-width full-height font-full-em-3-plus-half text-center line-height-100">
                {{service.icon}}
              </mat-icon>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </nb-layout-column>
</nb-layout>
