<div class="dashboard-container full-width full-height">
  <app-soft-phone-incoming-call [rtlDirection]="rtlDirection"></app-soft-phone-incoming-call>

  <div class="dashboard-app-boundary height-full-minus-70 padding-full">
    <!--<button mat-raised-button (click)="changeDarkMode()">dark mode: {{loggedInUser.darkMode ? 'true' : 'false'}}</button>
    <button mat-raised-button (click)="changeDirection()">direction mode: {{rtlDirection}}</button>-->
    <!--<app-dashboard-datepicker [serviceList]="serviceList" [windowManagerService]="windowManagerService" [rtlDirection]="rtlDirection"></app-dashboard-datepicker>-->
  </div>

  <app-screenshot></app-screenshot>

  <app-dashboard-toolbar [serviceList]="serviceList"
                         [rtlDirection]="rtlDirection"
                         [loggedInUser]="loggedInUser"
                         [windowManager]="windowManager"
                         class="dashboard-toolbar pos-fix bottom-full right-full left-full height-40"></app-dashboard-toolbar>
</div>
