.soft-phone-wrapper {
  flex-wrap: wrap;
  justify-content: stretch;

  .soft-phone-toolbar {
    border-top: solid 1px rgba(220, 220, 220, 0.93);
    background-color: #f1f1f1;
  }

  .mat-list-avatar {
    border: solid 1px #bbb;
  }
}

.back-to-call {
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
}
@-webkit-keyframes glowing {
  0% {background-color: #46b241; -webkit-box-shadow: 0 0 3px #46b241;}
  50% {background-color: #418252; -webkit-box-shadow: 0 0 10px #418252;}
  100% {background-color: #46b241; -webkit-box-shadow: 0 0 3px #46b241;}
}

@-moz-keyframes glowing {
  0% {background-color: #46b241; -moz-box-shadow: 0 0 3px #46b241;}
  50% {background-color: #418252; -moz-box-shadow: 0 0 10px #418252;}
  100% {background-color: #46b241; -moz-box-shadow: 0 0 3px #46b241;}
}

@-o-keyframes glowing {
  0% {background-color: #46b241; box-shadow: 0 0 3px #46b241;}
  50% {background-color: #418252; box-shadow: 0 0 10px #418252;}
  100% {background-color: #46b241; box-shadow: 0 0 3px #46b241;}
}

@keyframes glowing {
  0% {background-color: #46b241; box-shadow: 0 0 3px #46b241;}
  50% {background-color: #418252; box-shadow: 0 0 10px #418252;}
  100% {background-color: #46b241; box-shadow: 0 0 3px #46b241;}
}
