<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="soft-phone-wrapper full-height bg-white display-flex overflow-hide">
  <a *ngIf="callPopUpMinimizeStatus" (click)="maximizeCallPopUp()"
     class="display-block full-width height-35 line-height-35 font-8-em back-to-call text-white cursor-pointer text-center pos-rel z-index-99">
    {{'soft_phone.main.back_to_call' | translate}}
  </a>
  <div class="soft-phone-container full-width pos-rel"
       [ngClass]="callPopUpMinimizeStatus ? 'height-full-minus-80' : 'height-full-minus-45'">
    <ng-container [ngSwitch]="activeTab">
      <!-- Show soft phone information -->
      <app-soft-phone-information (triggerBottomSheet)="openButtonSheet($event)"
                                  *ngSwitchCase="0"
                                  [loggedInUser]="loggedInUser"
                                  [rtlDirection]="rtlDirection"
                                  [softPhoneUsers]="softPhoneUsers"></app-soft-phone-information>
      <!-- /Show soft phone information -->

      <!-- Show Soft phone contacts -->
      <app-soft-phone-contacts (triggerBottomSheet)="openButtonSheet($event)"
                               *ngSwitchCase="1"
                               [loggedInUser]="loggedInUser"
                               [rtlDirection]="rtlDirection"
                               [softPhoneUsers]="softPhoneUsers"></app-soft-phone-contacts>
      <!-- /Show Soft phone contacts -->

      <!-- Show soft phone keypad -->
      <app-soft-phone-keypad (triggerBottomSheet)="openButtonSheet($event)"
                             *ngSwitchCase="2"
                             [rtlDirection]="rtlDirection"
                             [softPhoneUsers]="softPhoneUsers"></app-soft-phone-keypad>
      <!-- /Show soft phone keypad -->

      <!-- Show soft phone logs -->
      <app-soft-phone-logs (triggerBottomSheet)="openButtonSheet($event)"
                           *ngSwitchCase="3"
                           [loggedInUser]="loggedInUser"
                           [rtlDirection]="rtlDirection"
                           [softPhoneUsers]="softPhoneUsers"></app-soft-phone-logs>
      <!-- /Show soft phone logs -->

      <!-- Show soft phone settings -->
      <app-soft-phone-conference (triggerBottomSheet)="openButtonSheet($event)"
                               *ngSwitchCase="4"
                               [rtlDirection]="rtlDirection"
                               [softPhoneUsers]=softPhoneUsers></app-soft-phone-conference>
      <!-- /Show soft phone settings -->
    </ng-container>
  </div>

  <div class="soft-phone-toolbar clear-both full-width height-45 z-index-1">
    <mat-tab-group (selectedTabChange)="tabChange($event)" [selectedIndex]="activeTab"
                   class="full-height soft-phone-tab" color="primary">
      <mat-tab *ngFor="let tab of tabs;" class="full-height">
        <ng-template class="full-height" mat-tab-label>
          <mat-icon class="clear-both text-gray-a300 height-20 width-20 font-full-plus-half-em" mat-list-icon>
            {{tab.icon}}
          </mat-icon>
          <span class="font-half-em clear-both text-weight-bold">{{tab.name}}</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <app-soft-phone-bottom-sheet #bottomSheet></app-soft-phone-bottom-sheet>

  <div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'pbx'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>

<audio #audioRemote autoplay="autoplay"></audio>
<audio #ringtone loop [src]="'assets/sounds/ringtone.wav'"></audio>
<audio #ringbacktone loop [src]="'assets/sounds/ringbacktone.wav'"></audio>
<audio #dtmfTone [src]="'assets/sounds/dtmf.wav'"></audio>
