<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="soft-phone-wrapper full-height bg-white display-flex">
  <div class="soft-phone-container height-full-minus-45 full-width pos-rel">
    <ng-container [ngSwitch]="activeTab">
      <!-- Show soft phone information -->
      <app-soft-phone-information (triggerBottomSheet)="openButtonSheet($event)"
                                  *ngSwitchCase="0"
                                  [loggedInUser]="loggedInUser"
                                  [rtlDirection]="rtlDirection"
                                  [softPhoneUsers]="softPhoneUsers"></app-soft-phone-information>
      <!-- /Show soft phone information -->

      <!-- Show Soft phone contacts -->
      <app-soft-phone-contacts (triggerBottomSheet)="openButtonSheet($event)"
                               *ngSwitchCase="1"
                               [loggedInUser]="loggedInUser"
                               [rtlDirection]="rtlDirection"
                               [softPhoneUsers]="softPhoneUsers"></app-soft-phone-contacts>
      <!-- /Show Soft phone contacts -->

      <!-- Show soft phone keypad -->
      <app-soft-phone-keypad (triggerBottomSheet)="openButtonSheet($event)"
                             *ngSwitchCase="2"
                             [rtlDirection]="rtlDirection"
                             [softPhoneUsers]="softPhoneUsers"></app-soft-phone-keypad>
      <!-- /Show soft phone keypad -->

      <!-- Show soft phone logs -->
      <app-soft-phone-logs (triggerBottomSheet)="openButtonSheet($event)"
                           *ngSwitchCase="3"
                           [rtlDirection]="rtlDirection"
                           [softPhoneUsers]="softPhoneUsers"></app-soft-phone-logs>
      <!-- /Show soft phone logs -->

      <!-- Show soft phone settings -->
      <app-soft-phone-settings *ngSwitchCase="4"
                               [rtlDirection]="rtlDirection"
                               [softPhoneUsers]=softPhoneUsers></app-soft-phone-settings>
      <!-- /Show soft phone settings -->
    </ng-container>
  </div>

  <div class="soft-phone-toolbar clear-both full-width height-45 z-index-1">
    <mat-tab-group (selectedTabChange)="tabChange($event)" [selectedIndex]="activeTab"
                   class="full-height soft-phone-tab" color="primary">
      <mat-tab *ngFor="let tab of tabs;" class="full-height">
        <ng-template class="full-height" mat-tab-label>
          <mat-icon class="clear-both text-gray-a300 height-20 width-20 font-full-plus-half-em" mat-list-icon>
            {{tab.icon}}
          </mat-icon>
          <span class="font-half-em clear-both text-weight-bold">{{rtlDirection ? tab.nameFa : tab.nameFa}}</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <app-soft-phone-bottom-sheet #bottomSheet></app-soft-phone-bottom-sheet>
</div>

<audio #audioRemote autoplay="autoplay"></audio>
<audio #ringtone loop src="../sounds/ringtone.wav"> </audio>
<audio #ringbacktone loop src="../sounds/ringbacktone.wav"> </audio>
<audio #dtmfTone src="../sounds/dtmf.wav"> </audio>
<!--<svg class="voicecall" xmlns="http://www.w3.org/2000/svg" version="1.1" id="microphone" data-container-transform="translate(3)" viewBox="0 0 16 20" x="0px" y="0px"><path d="M4.5 0c-1.4 0-2.5 1.1-2.5 2.5v5c0 1.4 1.1 2.5 2.5 2.5s2.5-1.1 2.5-2.5v-5c0-1.4-1.1-2.5-2.5-2.5zm-4.125 6.188a.5.5 0 0 0-.375.5v.813c0 2.302 1.763 4.184 4 4.438v3.063h-2c-.6 0-1 .4-1 1h7c0-.6-.4-1-1-1h-2v-3.063c2.237-.254 4-2.136 4-4.438v-.813a.5.5 0 1 0-1 0v.813c0 1.927-1.573 3.5-3.5 3.5s-3.5-1.573-3.5-3.5v-.813a.5.5 0 0 0-.563-.5.5.5 0 0 0-.063 0z" transform="translate(3)"/></svg>-->
<!--<input type="button" id="btnRegister" value="LogIn" (click)='sipRegister();'>-->
<!--<input type="button" id="sipCall2" value="Audio Call" (click)="sipCall('call-audio')">-->
<!--<input type="button" id="btnCall" value="Answer" (click)="sipCall('call-audio')">-->
<!--<input type="button" id="sipHangUp" value="Reject" (click)="sipHangUp()">-->
<!--<input type="button" id="btnHangup" value="Hang Up" (click)="sipHangUp()">-->
<!--<input type="button" id="btnUnRegister" value="LogOut" (click)='sipUnRegister();'>-->
<!--<input type="button" id="btnTransfer" value="Transfer" (click)='sipTransfer();'>-->
