<div class="padding-full">
  <mat-list class="full-height overflow-y-auto overflow-x-hide">
    <mat-list-item disableRipple *ngFor="let info of callLogs"
                   class="height-full-minus-45 margin-b-half overflow-y-auto overflow-x-hide">
      <div class="seventy-width">
        <ng-container [ngSwitch]="info.type">
          <mat-icon mat-list-icon *ngSwitchCase="'missed'"
                    class="text-red-500" [ngClass]="rtlDirection ? 'float-right' : 'float-left'">
            phone_missed
          </mat-icon>

          <mat-icon mat-list-icon *ngSwitchCase="'incoming'"
                    class="text-blue-500" [ngClass]="rtlDirection ? 'float-right' : 'float-left'">
            phone_callback
          </mat-icon>

          <mat-icon mat-list-icon *ngSwitchCase="'outgoing'"
                    class="text-green-500" [ngClass]="rtlDirection ? 'float-right' : 'float-left'">
            phone_forwarded
          </mat-icon>
        </ng-container>
        <div mat-line class="padding-mini-r-l" [ngClass]="info.type === 'missed' ? 'text-red-500' : ''">{{info.name}}</div>
        <div mat-line class="padding-mini-r-l">{{info.extension}}</div>
      </div>
      <div class="thirty-width" [ngClass]="rtlDirection ? 'text-left' : 'text-right'">
        <div mat-line class="text-gray-600 font-7-rem">{{info.date | jalali}}</div>
        <div mat-line class="text-gray-600 font-7-rem">{{info.time}}</div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
