<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="full-height flex-center">
  <mat-list *ngIf="cdrExtensionList.length; else noItem;"
            class="full-width full-height overflow-x-hide overflow-y-auto">
    <mat-list-item *ngFor="let cdr of cdrExtensionList"
                   class="highlight cursor-pointer height-45 padding-r-l margin-b-full">
      <div class="width-35 height-35" matListAvatar>
        <mat-icon [class]="cdr.color" mat-list-icon>
          {{cdr.icon}}
        </mat-icon>
      </div>

      <h3 class="font-7-rem text-weight-bold" [class]="cdr.color" matLine>
        {{cdr.user.extension_name}} - {{cdr.src}}
      </h3>

      <p class="font-8-em text-gray-600" matLine>{{cdr.date | jalali}}</p>
    </mat-list-item>
  </mat-list>

  <ng-template #noItem>
    {{'global.no_result' | translate}}
  </ng-template>
</div>
