<div class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <div class="full-height" [dir]="rtlDirection ? 'rtl' : 'ltr'">
    <div class="height-45 overflow-x-hide overflow-y-auto full-width">
      <h1 [ngClass]="rtlDirection ? 'text-right' : 'text-left'"
          class="margin-b-full  font-full-em text-pink-600 text-weight-500 margin-b-half">
        {{NameDescription}}
      </h1>
      <a (click)="close()" [ngClass]="rtlDirection ? 'left-full ' : 'right-full'"
         class="pos-abs top-full cursor-pointer text-gray-600 ">
        <mat-icon class="text-grey-500">close</mat-icon>
      </a>
    </div>
    <div class="height-full-minus-90">
      <span class="half-width display-block text-gray-600 font-7-em margin-b-full display-flex" [ngClass]="rtlDirection ? 'text-right float-right'  : 'text-left float-left'">
           <mat-icon class="width-18 height-18 font-full-plus-three-tenth-em line-height">access_alarm</mat-icon>: {{DateStop | jalali:rtlDirection}}
      </span>
      <span class="half-width display-block text-gray-600 font-7-em margin-b-full"
            [ngClass]="rtlDirection ? 'text-right float-right' : 'text-left float-left'">{{'tasks.boards.task_percentage' | translate}}:  {{taskPercentage}}%
      </span>
      <p [ngClass]="rtlDirection ? 'text-right' : 'text-left'">{{taskDescription}}</p>
    </div>
    <div class="height-45 display-flex justify-content-end full-width display-flex align-items-end justify-content-end">
      <button [ngClass]="rtlDirection ? 'text-left' : 'text-right'"
              (click)="close()" type="button"
              class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal full-width">
        <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
      </button>
    </div>
  </div>
</div>
