<div *ngIf="form" class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <form (submit)="submit()" *ngIf="form" [dir]="rtlDirection ? 'rtl' : 'ltr'" [formGroup]="form"
        class="full-height" autocomplete="off">
    <div class="height-full-minus-45 overflow-x-hide overflow-y-auto full-width">
      <h1 class="margin-b-full text-gray-800 font-full-em text-weight-500 margin-b-half">
        {{'learning.add_new_room' | translate}}
      </h1>

      <div class="display-flex margin-r-l-reverse">
        <div class="full-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <input class="full-width" formControlName="meetingID" matInput
                   autocomplete="off"
                   placeholder="{{'learning.meeting_name' | translate}}"
                   required tabindex="1" type="text">
            <mat-label>
              {{'learning.meeting_name' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('meetingID').valid && form.get('meetingID').touched">
              {{'learning.meeting_name_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-b-full">
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <input class="full-width" formControlName="viewerPassword" matInput
                   autocomplete="off"
                   placeholder="{{'learning.room_pass' | translate}}"
                   required tabindex="2" type="password">
            <mat-label>
              {{'learning.room_pass' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('viewerPassword').valid && form.get('viewerPassword').touched">
              {{'learning.room_pass_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <input class="full-width" formControlName="moderatorPassword" matInput
                   placeholder="{{'learning.room_moderator_pass' | translate}}"
                   autocomplete="off"
                   required tabindex="3" type="password">
            <mat-label>
              {{'learning.room_moderator_pass' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('moderatorPassword').valid && form.get('moderatorPassword').touched">
              {{'learning.room_moderator_pass_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-b-full padding-tiny-r-l">
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            tabIndex="4"
            formControlName="isWebCamModeratorOnly">
            {{'learning.webcam_only_moderator' | translate}}
          </mat-slide-toggle>
        </div>
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            tabIndex="5"
            formControlName="isRecord">
            {{'learning.record_meeting' | translate}}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-b-full padding-tiny-r-l">
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            tabIndex="6"
            formControlName="isMuteOnStart">
            {{'learning.mute_on_start' | translate}}
          </mat-slide-toggle>
        </div>
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            tabIndex="7"
            formControlName="isUserWebCamDisable">
            {{'learning.disable_user_webcam' | translate}}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-b-full padding-tiny-r-l">
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            tabIndex="8"
            formControlName="isUserMicDisable">
            {{'learning.disable_user_mic' | translate}}
          </mat-slide-toggle>
        </div>
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            tabIndex="9"
            formControlName="isPrivateChatDisable">
            {{'learning.disable_private_chat' | translate}}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-b-full padding-tiny-r-l">
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            tabIndex="10"
            formControlName="isPublicChatDisable">
            {{'learning.disable_public_chat' | translate}}
          </mat-slide-toggle>
        </div>
      </div>
    </div>

    <div class="height-45 display-flex justify-content-end full-width display-flex align-items-end justify-content-end">
      <button (click)="cancelBtn()"
              tabindex="11"
              class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal"
              type="button">
        <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
      </button>

      <button [disabled]="!form.valid"
              class="green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
              mat-raised-button
              tabindex="12"
              type="submit">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
        <span class="padding-mini-r-l">{{'global.submit' | translate}}</span>
      </button>
    </div>
  </form>

  <div *ngIf="loadingIndicator && loadingIndicator.status && loadingIndicator.serviceName === 'createRoom'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg height="30px" id="Layer_1" style="enable-background:new 0 0 50 50;" viewBox="0 0 24 30"
           width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
        <rect fill="#333" height="5" width="4" x="0" y="13">
          <animate attributeName="height" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="10" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="20" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
      </svg>
      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
