.fc{
  font-family: 'IranSans';
  direction: unset;
}
.mat-drawer-container{
  .mat-drawer-content{
  }
}
/*
.rate-calendar{
  .fc-day-grid-container{
    height: auto !important;
  }
  .fc-dayGrid-view {
    .fc-body{
      .fc-row{
        height: 4.93em !important;
      }
    }
  }
}
*/
