<mat-drawer-container autosize class="mat-elevation-z1">
    <mat-drawer #drawer mode="side" class="round-corner">

        <div *ngIf="userSelected && userSelected.email" class="padding-full text-white">

<!--            <mat-icon class="cursor-pointer" (click)="drawer.toggle()" aria-hidden="false">close</mat-icon>-->

            <div class="text-center">
                <img
                        class="width-70 height-70 text-center round-corner-all margin-auto pos-rel top-six-tenth"
                        [src]="'/assets/profileImg/'+userSelected.email+'.jpg'">
                <div class="text-white padding-t">{{userSelected.name}} {{userSelected.family}}</div>
                <div class="text-white padding-b">{{userSelected.email}}</div>
                <div class="text-white padding-t-b">{{'tasks.task_filter.tasks_filter_calendar_hours' | translate}}
                    : {{sumTime}}</div>
            </div>

        </div>

    </mat-drawer>

    <div>
        <full-calendar class="float-right w-100" defaultView="dayGridMonth"
                       #calendar
                       [locale]="rtlDirection ? 'fa' : 'en'"
                       [dir]="rtlDirection ? 'rtl' : 'ltr'"
                       [editable]="false"
                       [handleWindowResize]="true"
                       [buttonText]="{
                  today:    'امروز',
                  month:    'ماه',
                  week:     'هفته',
                  day:      'روز',
                  list:     'لیست'
                }"
                       [header]="{
                  left: 'prev,next today'
               }"
                       [slotLabelFormat]="[{
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                }]"
                       [views]="{
                dayGridMonthCustom: {
                  type: 'dayGridMonth',
                  buttonText: 'ماه'
                }
               }"
                       [firstDay]="1"
                       [events]="calendarDifferentEvents"
                       [plugins]="calendarPlugins"
                       [allDaySlot]="false"
                       [displayEventTime]="false"
                       (eventRender)="eventRender($event)"
                       [eventLimit]="2">
        </full-calendar>
    </div>
</mat-drawer-container>
