.fc {
  font-family: inherit !important;
}

.ca-rtl {
  .fc-toolbar {
    direction: rtl !important;
  }

  .fc-button-group {
    direction: rtl;
  }
}

.ca-ltr {
  .fc-toolbar {
    direction: ltr !important;
  }

  .fc-button-group {
    direction: ltr;
  }
}
