<mat-drawer-container autosize class="full-width rate-calendar display-flex flex-space-between">
  <mat-drawer #drawer [disableClose]="true" class="round-corner mat-elevation-z1 padding-tiny-r-l" mode="side">
    <div *ngIf="userSelected && userSelected.email" class="padding-half">
      <!--            <mat-icon class="cursor-pointer" (click)="drawer.toggle()" aria-hidden="false">close</mat-icon>-->
      <img [alt]="userSelected.name + ' ' + userSelected.family" [src]="'/assets/profileImg/'+userSelected.email+'.jpg'"
           class="width-70 height-70 display-block margin-t-b margin-auto text-center round-corner-all margin-auto pos-rel top-six-tenth mat-elevation-z2">

      <div class="padding-t-b display-flex align-items-center">
        <mat-icon class="width-20 height-20 line-height-20 font-full-plus-half-em">person</mat-icon>

        <span [ngClass]="rtlDirection ? 'padding-r-half' : 'padding-l-half'">
          {{userSelected.name}} {{userSelected.family}}
        </span>
      </div>

      <div class="padding-t-b display-flex align-items-center">
        <mat-icon class="width-20 height-20 line-height-20 font-full-plus-half-em">mail_outline</mat-icon>

        <span [ngClass]="rtlDirection ? 'padding-r-half' : 'padding-l-half'">
          {{userSelected.email}}
        </span>
      </div>

      <div class="padding-t-b display-flex align-items-center">
        <mat-icon class="width-20 height-20 line-height-20 font-full-plus-half-em">av_timer</mat-icon>

        <span [ngClass]="rtlDirection ? 'padding-r-half' : 'padding-l-half'">
          {{'tasks.task_filter.tasks_filter_calendar_hours' | translate}}:
          <span class="text-weight-bold text-green-500">{{sumTime}}</span>
        </span>
      </div>
    </div>
  </mat-drawer>
  <div [dir]="rtlDirection ? 'rtl' : 'ltr'" [ngClass]="rtlDirection ? 'ca-rtl' : 'ca-ltr'"
       class="full-height rate-calendar">

    <dp-day-calendar #dateCalendar
                     [dir]="rtlDirection ? 'rtl' : 'ltr'"
                     [config]="datePickerConfig"
                     class="custom-full-calendar no-margin full-height" theme="dp-material">
    </dp-day-calendar>
  </div>
</mat-drawer-container>
