<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     [matMenuTriggerFor]="timeAreaMenu"
     [ngClass]="rtlDirection ? 'margin-l-auto' : 'margin-r-auto'"
     class="box pos-rel mat-elevation-z1 padding-r-l text-center round-corner height-40 overflow-hide cursor-pointer">
  <mat-icon class="text-dark-mode-color">access_time</mat-icon>

  <div class="display-flex">
    <mat-list [ngClass]="rtlDirection ? 'text-right' : 'text-left'">
      <mat-list-item class="text-dark-mode-color">
        <div mat-line class="font-8-rem">۱ خرداد ۱۳۹۹</div>
        <div mat-line class="font-8-rem">پنجشنبه</div>
      </mat-list-item>
    </mat-list>

    <mat-list [ngClass]="rtlDirection ? 'text-left' : 'text-right'">
      <mat-list-item class="text-dark-mode-color font-8-rem">
        <div mat-line>۱۵:۴۰</div>
        <div mat-line dir="ltr" class="font-8-rem">+3:30 <span class="font-6-em">GMT</span></div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<mat-menu class="toolbar-menu time-area-menu" #timeAreaMenu="matMenu" xPosition="before" yPosition="above">
  <div>
    <div class="clock center-block">
      <div class="inner">
        <div #hourHand class="hour hand"></div>
        <div #minuteHand class="minute hand"></div>
        <div #secondHand class="second hand"></div>
        <div class="graduations">
          <div *ngFor="let graduation of graduations" class="graduation"></div>
        </div>
      </div>
    </div>
  </div>
</mat-menu>
