<section [dir]="data.rtlDirection ? 'rtl' : 'ltr'" class="padding-b-half custom-popover">
    <div class="padding-full custom-badge display-flex flex-space-between">
        <span>{{'events_handler.main.event_count' | translate}}</span>
        <b class="round-corner-all text-white">{{data.eventTemp.length}}</b>
    </div>
    <mat-nav-list>
        <a (click)="showEventHandlerWindow(item , $event)" mat-list-item
           *ngFor="let item of data.eventTemp; last as last">
            <mat-icon class="padding-r-half" mat-list-icon>calendar_today</mat-icon>
            <h5 class="font-9-em" mat-line>{{item.name}}</h5>
            <p class="demo-2 font-7-em" mat-line>{{item.sTime}} - {{item.eTime}}</p>
            <mat-divider class="no-margin full-width" [inset]="true" *ngIf="!last"></mat-divider>
        </a>
    </mat-nav-list>
</section>
