<div class="full-height pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99"
     [dir]="rtlDirection ? 'rtl' : 'ltr'">
  <div class="height-full-minus-45 full-width">
    <h1 class="margin-b-full-plus-half text-gray-800 font-full-em text-weight-500 margin-b-full line-height-10">
      {{'tasks.incomplete_task.incomplete_tasks' | translate}}
    </h1>

    <div [ngClass]="rtlDirection ? 'left-3' : 'right-3'"
         class="top-3 pos-abs">
      <button (click)="closeDialog()"
              class="width-30 height-30 text-center line-height-35 no-padding no-border no-bg cursor-pointer font-full-plus-two-tenth-em">
        <mat-icon
          class="full-width full-height text-center font-9-em text-gray-600 text-weight-bold">close
        </mat-icon>
      </button>
    </div>

    <mat-list class="incomplete-task full-width height-220 overflow-x-hide overflow-y-auto">
      <mat-list-item *ngFor="let task of taskList; let i = index"
                     [dir]="rtlDirection ? 'rtl' : 'ltr'"
                     [ngClass]="i !== taskList.length - 1 ? 'margin-b-full' : ''"
                     class="incomplete-task-item pos-rel height-55 mat-elevation-z1 bg-white round-corner transition overflow-hide">
        <div
          class="padding-l-half padding-r-half display-flex flex-space-between full-height align-items-center full-width">
          <span class="width-25 height-25 round-corner-all mat-elevation-z1 pos-rel"
                [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                matTooltip="{{'tasks.boards.task_percentage' | translate}}"
                [matTooltipPosition]="rtlDirection ? 'left' : 'right'">

            <span
              class="font-6-em text-gray-800 pos-abs left-0 right-0 top-0 bottom-0 margin-auto text-center line-height-25 text-weight-500">
              {{task.percentage}}
            </span>

            <mat-progress-spinner
              [ngClass]="getColor(task.percentage)"
              [diameter]="25"
              [strokeWidth]="2"
              [value]="task.percentage"
              color="accent">
            </mat-progress-spinner>
          </span>

          <span
            class="company-name transition font-8-em overflow-hide white-space-nowrap title-task full-width flex-grow-1">{{task.taskName}}</span>

          <div class="overflow-hide width-25 full-height cursor-pointer"
               (click)="changeStatus(task)">
            <mat-icon
              class="arrow transition font-full-plus-half-em full-height full-width text-green-500 line-height-55 transform-origin-50 text-center">
              play_arrow
            </mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="height-45 display-flex justify-content-end full-width display-flex align-items-end justify-content-end">
    <button (click)="closeDialog()"
            class="no-bg no-border cursor-pointer text-red-500 line-height-10 font-9-em overflow-hide text-weight-normal no-padding"
            type="button">
      <span>{{'global.dismiss' | translate}}</span>
    </button>
  </div>
</div>

<div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'incompleteTasks'"
     class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-999">
  <div class="text-center">
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
      <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                 repeatCount="indefinite"></animate>
        </rect>
      <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                 repeatCount="indefinite"></animate>
        </rect>
      </svg>
    <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
  </div>
</div>
