<mat-grid-list *ngIf="boards.length" [dir]="rtlDirection ? 'rtl' : 'ltr'" cols="3" gutterSize="10" rowHeight="40px">
  <mat-grid-tile class="board-container round-corner-top"
                 *ngFor="let board of boards"
                 [colspan]="board.cols"
                 [rowspan]="board.rows">
    <div
      class="board-name pos-abs top-0 right-0 full-width full-height padding-mini-t-b padding-r-l display-flex flex-space-between align-items-center pos-rel">
      <span class="font-9-em">{{board.name | translate}}</span>

      <a (click)="showFilterArgs[board.id]=true; focusSearchBox(board.id)"
         [ngClass]="rtlDirection ? 'margin-l-full margin-r-auto' : 'margin-r-full margin-l-auto'"
         class="cursor-pointer full-height">
        <mat-icon class="text-blue-700">search</mat-icon>
      </a>

      <span class="task-count width-25 height-25 line-height-20 font-7-em text-center text-weight-500"
            [ngClass]="board.id">
        {{board.tasks.length}}
      </span>

      <div [ngClass]="showFilterArgs[board.id] ? 'display-flex' : 'display-none'"
        class="full-width full-height flex-space-between align-items-center pos-abs top-0 bottom-0 left-0 right-0">
        <mat-icon [ngClass]="rtlDirection ? 'right-half' : 'left-half'"
                  class="pos-abs width-25 height-25 line-height-20 font-full-plus-two-tenth-em flex-center">
          search
        </mat-icon>

        <input [(ngModel)]="filterArgs[board.id]"
               (keydown)="$event.code === 'Escape' ? showFilterArgs[board.id] = false : null; $event.code === 'Escape' ? filterArgs[board.id] = null : ''"
               #searchBox
               [attr.aria-label]="board.id"
               placeholder="{{'tasks.boards.search_in' | translate}} {{board.name | translate}}"
               class="font-9-em full-width full-height no-border padding-r-l-two-plus-half no-margin round-corner-top">

        <mat-icon (click)="filterArgs[board.id]=null; showFilterArgs[board.id]=false" [ngClass]="rtlDirection ? 'left-half' : 'right-half'"
                  class="pos-abs width-25 height-25 line-height-20 font-full-plus-two-tenth-em flex-center cursor-pointer">
          close
        </mat-icon>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list *ngIf="boards.length" class="grid-height" cols="3" gutterSize="10" rowHeight="fit">
  <mat-grid-tile class="board-container"
                 *ngFor="let board of boards"
                 [colspan]="board.cols"
                 [rowspan]="board.rows">
    <div class="task-container full-height full-width padding-full overflow-x-hide overflow-y-auto"
         cdkDropList
         [id]="board.id"
         (cdkDropListDropped)="changeStatus($event)"
         [cdkDropListData]="board.tasks"
         [cdkDropListConnectedTo]="connectedTo">
      <div *ngIf="!board.tasks.length"
           class="flex-center full-width full-height pos-abs left-0 right-0 top-0 bottom-0 z-index-0">
        <img [src]="'assets/board-empty-state/'+board.id+'.png'" [alt]="board.id" class="width-250">
        <span
          class="pos-abs left-0 right-0 bottom-0 top-0 z-index-0 margin-auto text-gray-400 font-8-rem full-width height-45 line-height-150 text-center">
          {{'global.no_result' | translate}}
        </span>
      </div>

      <mat-card class="margin-b-full bg-white card-hover"
                [ngClass]="{'overdue-task': task.overdue}"
                [cdkDragData]="task"
                matTooltip="{{task.overdue ? ('tasks.boards.overdue' | translate) : null}}"
                (click)="showTaskDetail(task, board.id)"
                *ngFor="let task of board.tasks | myFilter:filterArgs[board.id]" cdkDrag>
        <mat-card-header class="full-width">
          <mat-card-subtitle class="full-width height-30 text-gray-600 display-flex flex-space-between no-margin">
            <span class="display-flex">
              <mat-icon [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                        class="width-18 height-18 font-full-plus-three-tenth-em">access_alarm</mat-icon>
              {{task.stopAt | jalali:rtlDirection}}
            </span>

            <span>
              #{{task.taskId}}
            </span>
          </mat-card-subtitle>
          <mat-card-title class="full-width clear-both text-pink-600 font-full-em padding-t-half">
            {{task.taskName}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="text-gray-600 margin-b-half display-flex">
          <mat-icon [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                    class="width-18 height-18 font-full-plus-three-tenth-em">work
          </mat-icon>
          {{task.project.projectName}}
        </mat-card-content>

        <mat-card-footer class="padding-mini-t-b padding-r-l height-45 display-flex flex-space-between">
          <span class="display-flex align-items-center">
            <img [src]="'assets/profileImg/'+task.assignTo.email+'.jpg'"
                 onerror="this.src='assets/profileImg/0.jpg'"
                 class="display-block width-25 height-25 round-corner-all mat-elevation-z1"
                 [alt]="task.assignTo.name + ' ' + task.assignTo.family">
            <span class="display-block full-height line-height-25 padding-mini-r-l text-eclipse width-150">
              {{task.assignTo.name + ' ' + task.assignTo.family}}
            </span>
          </span>

          <span [ngClass]="rtlDirection ? 'margin-l-full margin-r-auto' : 'margin-r-full margin-l-auto'"
                class="display-flex padding-tiny-t-b" matTooltip="{{'tasks.boards.todo_count' | translate}}"
                [matTooltipPosition]="rtlDirection ? 'right' : 'left'">
            <mat-icon class="width-18 height-18 font-full-plus-three-tenth-em line-height-20 margin-mini-r-l">
              rule
            </mat-icon>
            {{task.todoCount}}
          </span>

          <span class="width-25 height-25 round-corner-all mat-elevation-z1 pos-rel"
                matTooltip="{{'tasks.boards.task_percentage' | translate}}"
                [matTooltipPosition]="rtlDirection ? 'left' : 'right'">
            <span
              class="font-6-em text-gray-800 pos-abs left-0 right-0 top-0 bottom-0 margin-auto text-center line-height-25 text-weight-500">
              {{task.percentage}}
            </span>
            <mat-progress-spinner
              [ngClass]="getColor(task.percentage)"
              [diameter]="25"
              [strokeWidth]="2"
              [value]="task.percentage"
              color="accent">
            </mat-progress-spinner>
          </span>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
