<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="pos-abs left-0 right-0 top-0 bottom-0 full-width full-height">
  <h1 [ngClass]="rtlDirection ? 'text-right' : 'text-left'"
      class="margin-b-full padding-r-l full-width text-gray-800  font-full-em text-weight-500 no-margin height-35">
    {{'tasks.activity.task_completion_percentage' | translate}}
  </h1>
  <div *ngIf="single.length" class="full-width padding-b-full-2 height-200" dir="ltr">
    <ngx-charts-pie-chart
      [doughnut]="isDoughnut"
      [gradient]="gradient"
      [labels]="showLabels"
      [legend]="showLegend"
      [results]="single"
      [scheme]="colorScheme"
    ></ngx-charts-pie-chart>
  </div>

  <h1 [ngClass]="rtlDirection ? 'text-right' : 'text-left'"
      class="margin-b-full padding-r-l full-width text-gray-800  font-full-em text-weight-500 no-margin height-35">
    {{'tasks.activity.activity_list' | translate}}
  </h1>
  <div class="activity-content-container padding-r-l overflow-y-auto overflow-x-hide">
    <mat-list *ngIf="activityList.length" class="no-padding">
      <mat-list-item *ngFor="let activity of activityList"
                     class="height-30 no-padding cursor-pointer margin-b-half">
        <mat-icon class="no-padding width-15 height-15 font-8-rem text-center line-height-15" mat-list-icon>
          {{activity.icon}}
        </mat-icon>

        <div class="text-gray-600 font-8-rem" mat-line>{{activity.logText}}</div>

        <div class="text-italic font-7-em" mat-line>{{activity.creationDate | jalali:rtlDirection}}</div>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'project-activity'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg height="30px" id="Layer_1" style="enable-background:new 0 0 50 50;" viewBox="0 0 24 30"
           width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
        <rect fill="#333" height="5" width="4" x="0" y="13">
          <animate attributeName="height" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="10" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="20" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
