<div class="pos-abs left-0 right-0 top-0 bottom-0 full-width full-height" [dir]="rtlDirection ? 'rtl' : 'ltr'" >
  <h1 [ngClass]="rtlDirection ? 'text-right' : 'text-left'"
    class="margin-b-full padding-r-l full-width text-gray-800  font-full-em text-weight-500 no-margin height-35">
    {{'tasks.activity.task_completion_percentage' | translate}}
  </h1>
  <div class="full-width padding-b-full-2 height-200" dir="ltr">
    <ngx-charts-pie-chart
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
    >
    </ngx-charts-pie-chart>
  </div>

  <h1 [ngClass]="rtlDirection ? 'text-right' : 'text-left'"
    class="margin-b-full padding-r-l full-width text-gray-800  font-full-em text-weight-500 no-margin height-35">
    {{'tasks.activity.activity_list' | translate}}
  </h1>
  <div class="activity-content-container padding-r-l overflow-y-auto overflow-x-hide">
    <mat-list *ngIf="activityList.length" class="no-padding">
      <mat-list-item *ngFor="let activity of activityList"
                     class="height-30 no-padding cursor-pointer margin-b-half">
        <mat-icon mat-list-icon class="no-padding width-15 height-15 font-8-rem text-center line-height-15">
          {{activity.activityIcon}}
        </mat-icon>

        <div mat-line class="text-gray-600 font-8-rem">{{activity.commentText}}</div>

        <div mat-line class="text-italic font-7-em">{{activity.creationDate | jalali:rtlDirection}}</div>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'project-activity'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
