<div class="pos-abs left-0 right-0 top-0 bottom-0 full-width full-height">
  <h1
    class="margin-b-full padding-r-l full-width text-gray-800 text-right font-full-em text-weight-500 no-margin height-35">
    درصد تکمیل بودن تسک
  </h1>
  <div class="full-width padding-b-full-2 height-200">
    <ngx-charts-pie-chart
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
    >
    </ngx-charts-pie-chart>
  </div>

  <h1
    class="margin-b-full padding-r-l full-width text-gray-800 text-right font-full-em text-weight-500 no-margin height-35">
    لیست فعالیت ها
  </h1>
  <div class="activity-content-container padding-r-l overflow-y-auto overflow-x-hide">
    <mat-list *ngIf="activityList.length" dir="rtl" class="no-padding">
      <mat-list-item *ngFor="let activity of activityList"
                     class="height-30 no-padding cursor-pointer margin-b-half">
        <mat-icon mat-list-icon class="no-padding width-15 height-15 font-8-rem text-center line-height-15">
          {{activity.activityIcon}}
        </mat-icon>

        <div mat-line class="text-gray-600 font-8-rem">{{activity.commentText}}</div>

        <div mat-line class="text-italic font-7-em">{{activity.creationDate}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
