<form (submit)="submit()" *ngIf="form" [dir]="rtlDirection ? 'rtl' : 'ltr'" [formGroup]="form"
      autocomplete="off"
      class="full-height">
  <div class="height-full-minus-30 full-width">
    <h1 *ngIf="data.action !== 'detail'"
        class="margin-b-full text-gray-800 font-full-em text-weight-500 margin-b-half no-margin">
      {{'tasks.main.add_new_task' | translate}}
    </h1>

    <div class="full-height padding-mini-r-l overflow-y-auto overflow-x-hide">
      <div class="display-flex margin-r-l-reverse">
        <div class="full-width padding-mini-r-l">
          <mat-form-field class="full-width font-9-em">
            <input class="full-width" formControlName="taskName" matInput
                   #taskName
                   placeholder="{{'tasks.form.task_name' | translate}}"
                   required tabindex="1" type="text">
            <mat-label>
              {{'tasks.form.task_name' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('taskName').valid">
              {{'tasks.form.task_name_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse">
        <div class="half-width padding-mini-r-l">
          <mat-form-field class="full-width font-full-em">
            <mat-label>{{'tasks.form.task_status' | translate}}</mat-label>
            <mat-select (selectionChange)="changeBoardStatus($event.value)" formControlName="boardStatus" tabIndex="2"
                        required>
              <mat-option *ngFor="let board of boardsList" [value]="board.id">
                <span [ngClass]="board.id" class="task-count">{{board.name}}</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!form.get('boardStatus').valid">
              {{'tasks.form.task_status_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="half-width no-padding-r-l pos-rel display-flex align-items-end">
          <div [ngClass]="rtlDirection ? 'right-six-tenth' : 'left-six-tenth'"
               class="font-9-em pos-abs top-full-plus-three-tenth">
            {{'tasks.boards.task_percentage' | translate}}
            <span>{{form.get('percentage').value}}</span> ٪
          </div>
          <mat-slider
            [max]="100"
            [min]="0"
            [step]="5"
            [thumbLabel]="true"
            [tickInterval]="2"
            class="full-width pos-rel top-half"
            formControlName="percentage" tabindex="3">
          </mat-slider>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-b-half">
        <div class="half-width padding-mini-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'tasks.form.task_project' | translate}}</mat-label>
            <mat-select formControlName="project" tabIndex="4" required>
              <mat-option *ngFor="let project of projectsList" [value]="project">
                {{project.projectName}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('project').valid">
              {{'tasks.form.task_project_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="half-width padding-mini-r-l">
          <mat-form-field class="full-width font-9-em">
            <img [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                 [src]="'assets/profileImg/'+form.get('email').value +'.jpg'"
                 class="width-20 height-20 round-corner-all pos-rel top-three-tenth"
                 matPrefix alt="">
            <mat-label>{{'tasks.form.assign_to' | translate}}</mat-label>
            <mat-select formControlName="assignTo" tabIndex="5" required>
              <mat-option *ngFor="let user of usersList" [value]="user" class="font-full-em">
                <div class="display-flex align-items-center">
                  <img [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                       [src]="'assets/profileImg/'+user.email+'.jpg'"
                       class="width-20 height-20 round-corner-all pos-rel"
                       matPrefix [alt]="user.name + ' ' + user.family"
                       (error)="$event.target.src='assets/profileImg/0.jpg'">
                  <span class="line-height-40">{{user.name + ' ' + user.family}}</span>
                </div>
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('assignTo').valid">
              {{'tasks.form.assign_to_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-b-half margin-r-l-reverse">
        <div class="half-width padding-mini-r-l">
          <mat-form-field class="full-width font-9-em">
            <input class="full-width" formControlName="taskDurationHours" matInput
                   placeholder="{{'tasks.form.task_durationHours' | translate}}"
                   required tabindex="6" type="number" min="1" max="999">
            <mat-label>
              {{'tasks.form.task_durationHours' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('taskDurationHours').valid">
              {{'tasks.form.task_durationHours_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="half-width padding-mini-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label></mat-label>
            <mat-select formControlName="taskDurationMinutes" tabIndex="7">
              <mat-option *ngFor="let minute of durationMinute" [value]="minute">
                {{minute}} {{!minute ? '' : 'global.minutes' | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse">
        <div class="dpDateStartPicker quarter-width padding-mini-r-l">
          <mat-form-field class="dpDatePicker full-width font-9-em" [dir]="rtlDirection ? 'rtl' : 'ltr'">
            <mat-label>{{'tasks.form.start_at' | translate}}</mat-label>
            <input [dpDayPicker]="datePicker"
                   formControlName="startAt"
                   attachTo=".dpDateStartPicker"
                   autocomplete="off"
                   tabindex="8"
                   theme="dp-material" matInput placeholder="" readonly required>

            <mat-error *ngIf="!form.get('startAt').valid">
              {{'tasks.form.start_at_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="quarter-width padding-mini-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'tasks.form.start_time' | translate}}</mat-label>
            <mat-select formControlName="startTime" tabIndex="9" required>
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('startTime').valid">
              {{'tasks.form.start_time_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="dpDateStopPicker quarter-width padding-mini-r-l">
          <mat-form-field class="dpDatePicker full-width font-9-em" [dir]="rtlDirection ? 'rtl' : 'ltr'">
            <mat-label>{{'tasks.form.stop_at' | translate}}</mat-label>
            <input [dpDayPicker]="datePicker"
                   autocomplete="off"
                   formControlName="stopAt"
                   attachTo=".dpDateStopPicker"
                   tabindex="10"
                   theme="dp-material" matInput placeholder="" readonly required>

            <mat-error *ngIf="!form.get('stopAt').valid">
              {{'tasks.form.stop_at_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="quarter-width padding-mini-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'tasks.form.stop_time' | translate}}</mat-label>
            <mat-select formControlName="stopTime" tabIndex="11" required>
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('stopTime').valid">
              {{'tasks.form.stop_time_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-b-half margin-r-l-reverse">
        <div class="full-width padding-mini-r-l">
          <mat-form-field class="full-width height-80 font-9-em">
            <mat-label>{{'tasks.form.task_description' | translate}}</mat-label>
            <textarea formControlName="taskDesc" matInput
                      placeholder="{{'tasks.form.task_description' | translate}}" tabindex="12"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-b-full margin-r-l-reverse">
        <div class="full-width padding-mini-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            formControlName="trackable" tabIndex="13">
            {{'tasks.form.trackable_by_mobile' | translate}}
          </mat-slide-toggle>
        </div>
      </div>

      <div *ngIf="data.action === 'detail'" class="display-flex margin-b-full margin-r-l-reverse">
        <div class="full-width padding-mini-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            formControlName="status" tabIndex="14">
            {{(form.get('status').value ? 'global.active' : 'global.deactivate') | translate}}
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>

  <div class="height-30 display-flex justify-content-end">
    <button (click)="cancelBtn()"
            *ngIf="editable || data.action !== 'detail'"
            class="display-flex full-height no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal"
            type="button" tabindex="15">
      <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
    </button>

    <button *ngIf="editable"
            class="display-flex full-height green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
            mat-raised-button
            tabindex="16"
            type="submit">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
      <span class="padding-mini-r-l">{{'global.submit' | translate}}</span>
    </button>
  </div>
</form>
