<form *ngIf="form" [formGroup]="form" (submit)="submit()" class="full-height" [dir]="rtlDirection ? 'rtl' : 'ltr'">
  <div class="height-full-minus-45 overflow-x-hide overflow-y-auto full-width">
    <h1 *ngIf="data.action !== 'detail'"
        class="margin-b-full text-gray-800 font-full-em text-weight-500 margin-b-half">
      {{'tasks.main.add_new_task' | translate}}
    </h1>
    <div class="display-flex margin-r-l-reverse">
      <div class="full-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <input matInput placeholder="{{'tasks.form.task_name' | translate}}" class="full-width" type="text"
                 formControlName="taskName" required tabindex="1">
          <mat-label>
            {{'tasks.form.task_name' | translate}}
          </mat-label>

          <mat-error *ngIf="!form.get('taskName').valid && form.get('taskName').touched">
            {{'tasks.form.task_name_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="display-flex margin-r-l-reverse">
      <div class="half-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <mat-label>{{'tasks.form.task_status' | translate}}</mat-label>
          <mat-select formControlName="boardStatus" tabIndex="2" (selectionChange)="changeBoardStatus($event)">
            <mat-option *ngFor="let board of boardsList" [value]="board.id">
              <span class="task-count" [ngClass]="board.id">{{board.name}}</span>
            </mat-option>
          </mat-select>

          <mat-error *ngIf="!form.get('boardStatus').valid && form.get('boardStatus').touched">
            {{'tasks.form.task_status_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="half-width no-padding-r-l pos-rel display-flex align-items-end overflow-hide">
        <div [ngClass]="rtlDirection ? 'right-six-tenth' : 'left-six-tenth'"
             class="font-9-em pos-abs top-full-plus-half">
          {{'tasks.boards.task_percentage' | translate}}
          <span>{{form.get('percentage').value}}</span> ٪
        </div>
        <mat-slider
          class="full-width pos-rel top-half"
          formControlName="percentage"
          [max]="100"
          [min]="0"
          [step]="5"
          [thumbLabel]="true"
          [tickInterval]="2" tabindex="3">
        </mat-slider>
      </div>
    </div>

    <div class="display-flex margin-r-l-reverse">
      <div class="half-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <mat-label>{{'tasks.form.task_project' | translate}}</mat-label>
          <mat-select formControlName="project" tabIndex="4">
            <mat-option *ngFor="let project of projectsList" [value]="project">
              {{project.projectName}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="!form.get('project').valid && form.get('project').touched">
            {{'tasks.form.task_project_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="half-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <img matPrefix
               [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
               [srcset]="'assets/profileImg/'+form.get('email').value +'.jpg'"
               class="width-20 height-20 round-corner-all pos-rel top-three-tenth">
          <mat-label>{{'tasks.form.assign_to' | translate}}</mat-label>
          <mat-select formControlName="assignTo" tabIndex="5">
            <mat-option *ngFor="let user of usersList" [value]="user">
              <img matPrefix
                   [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                   class="width-20 height-20 round-corner-all pos-rel top-six-tenth"
                   [srcset]="'assets/profileImg/'+ user.email +'.jpg'">
              {{user.name + ' ' + user.family}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="!form.get('assignTo').valid && form.get('assignTo').touched">
            {{'tasks.form.assign_to_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="display-flex margin-b-full margin-r-l-reverse">
      <div class="half-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <input matInput placeholder="{{'tasks.form.task_durationHours' | translate}}" class="full-width" type="number"
                 formControlName="taskDurationHours" required tabindex="6">
          <mat-label>
            {{'tasks.form.task_durationHours' | translate}}
          </mat-label>

          <mat-error *ngIf="!form.get('taskDurationHours').valid && form.get('taskDurationHours').touched">
            {{'tasks.form.task_durationHours_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="half-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <mat-label></mat-label>
          <mat-select formControlName="taskDurationMinutes" tabIndex="7">
            <mat-option *ngFor="let minute of durationMinute" [value]="minute">
              {{minute}} {{!minute ? '' : 'global.minutes' | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="display-flex margin-r-l-reverse">
      <div class="quarter-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <mat-label>{{'tasks.form.start_at' | translate}}</mat-label>
          <input matInput [matDatepicker]="picker1" readonly
                 placeholder="{{'tasks.form.start_at' | translate}}"
                 (focus)="picker1.open()" (click)="picker1.open()"
                 (dateChange)="dateToGregorian('startAt', $event)"
                 formControlName="startAt" tabindex="8">
          <mat-datepicker #picker1></mat-datepicker>

          <mat-error *ngIf="!form.get('startAt').valid && form.get('startAt').touched">
            {{'tasks.form.start_at_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="quarter-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <mat-label>{{'tasks.form.start_time' | translate}}</mat-label>
          <mat-select formControlName="startTime" tabIndex="9">
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{hour}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="!form.get('startTime').valid && form.get('startTime').touched">
            {{'tasks.form.start_time_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="quarter-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <mat-label>{{'tasks.form.stop_at' | translate}}</mat-label>
          <input matInput [matDatepicker]="picker2" readonly
                 (focus)="picker2.open()" (click)="picker2.open()"
                 (dateChange)="dateToGregorian('stopAt', $event)"
                 formControlName="stopAt" tabindex="10">
          <mat-datepicker #picker2></mat-datepicker>

          <mat-error *ngIf="!form.get('stopAt').valid && form.get('stopAt').touched">
            {{'tasks.form.stop_at_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="quarter-width padding-r-l">
        <mat-form-field class="full-width font-9-em">
          <mat-label>{{'tasks.form.stop_time' | translate}}</mat-label>
          <mat-select formControlName="stopTime" tabIndex="11">
            <mat-option *ngFor="let hour of hours" [value]="hour">
              {{hour}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="!form.get('stopTime').valid && form.get('stopTime').touched">
            {{'tasks.form.stop_time_error' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="display-flex margin-b-full margin-r-l-reverse">
      <div class="full-width padding-r-l">
        <mat-form-field class="full-width height-80 font-9-em">
          <mat-label>{{'tasks.form.task_description' | translate}}</mat-label>
          <textarea matInput formControlName="taskDesc"
                    placeholder="{{'tasks.form.task_description' | translate}}" tabindex="12"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="display-flex margin-b-full margin-r-l-reverse">
      <div class="full-width padding-r-l">
        <mat-slide-toggle
          formControlName="trackable"
          [color]="'primary'">
          {{'tasks.form.trackable_by_mobile' | translate}}
        </mat-slide-toggle>
      </div>
    </div>

    <div *ngIf="data.action === 'detail'" class="display-flex margin-b-full">
      <div class="full-width padding-r-l">
        <mat-slide-toggle
          formControlName="status"
          [color]="'primary'">
          {{form.get('status').value ? ('global.active' | translate) : ('global.deactivate' | translate)}}
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <div class="height-45 display-flex justify-content-end full-width display-flex align-items-end justify-content-end">
    <button *ngIf="editable || data.action !== 'detail'"
            (click)="cancelBtn()"
            type="button"
            class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal">
      <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
    </button>

    <button mat-raised-button
            *ngIf="editable"
            [disabled]="!form.valid"
            type="submit"
            tabindex="13"
            class="green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
      <span class="padding-mini-r-l">{{'global.submit' | translate}}</span>
    </button>
  </div>
</form>
