<div class="full-width full-height padding-full" [dir]="rtlDirection ? 'rtl' : 'ltr'">
  <button (click)="closeBottomSheet();"
          [ngClass]="rtlDirection ? 'left-0' : 'right-0'"
          class="width-30 height-30 pos-abs top-0 text-center line-height-35 no-padding no-border no-bg cursor-pointer font-full-plus-two-tenth-em">
    <mat-icon
      class="line-height-35 full-width full-height text-center font-9-em text-gray-600 text-weight-bold">
      close
    </mat-icon>
  </button>

  <mat-list class="margin-t-full">
    <mat-list-item>
      <img [alt]="data.name" [src]="'assets/profileImg/'+ data.email +'.jpg'"
           class="mat-elevation-z2 width-50 height-50 round-corner-all margin-auto"
           matListAvatar>
      <h3 class="text-weight-bold" matLine> {{data.name}} </h3>

      <p class="font-8-rem" matLine>
          <span> <b>{{'soft_phone.call_to_action.local_time' | translate}}</b> <span class="ltr padding-mini-r-l">{{data.timezone | jalali}}</span> </span>
      </p>

      <p class="font-8-rem" matLine>
          <span> <b>{{'global.extension' | translate}}</b> <span class="ltr padding-mini-r-l">{{data.extension_no}}</span> </span>
      </p>

      <div [ngClass]="data.status === '1' ? 'online' : 'offline'"
           class="user-soft-phone-status pos-rel text-gray-500 width-30 height-30 round-corner-all"></div>
    </mat-list-item>
  </mat-list>

  <mat-divider class="margin-mini-t-b"></mat-divider>

  <div class="height-60 display-flex flex-space-around">
    <button (click)="call(data)"
            [disabled]="data.status === '0'"
            class="green-gradient text-white font-8-rem margin-auto width-90 height-35 padding-mini-r-l"
            mat-raised-button type="submit">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">call</mat-icon>
      <span class="padding-mini-r-l">{{'soft_phone.call_to_action.call' | translate}}</span>
    </button>

    <button class="aqua-gradient text-white font-8-rem margin-auto width-90 height-35 padding-mini-r-l"
            [disabled]="true"
            mat-raised-button type="submit">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">chat</mat-icon>
      <span class="padding-mini-r-l">{{'soft_phone.call_to_action.message' | translate}}</span>
    </button>

    <button class="blue-gradient text-white font-8-rem margin-auto width-90 height-35 padding-mini-r-l"
            [disabled]="true"
            mat-raised-button type="submit">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">record_voice_over</mat-icon>
      <span class="padding-mini-r-l">{{'soft_phone.call_to_action.voice' | translate}}</span>
    </button>
  </div>
</div>
