<div class="full-width full-height padding-full">
  <button (click)="closeBottomSheet();"
          [ngClass]="rtlDirection ? 'left-0' : 'right-0'"
          class="width-30 height-30 pos-abs top-0 text-center line-height-35 no-padding no-border no-bg cursor-pointer font-full-plus-two-tenth-em">
    <mat-icon
      class="text-dark-mode-color line-height-35 full-width full-height text-center font-9-em text-gray-600 text-weight-bold">
      close
    </mat-icon>
  </button>

  <mat-list class="margin-t-full">
    <mat-list-item>
      <img matListAvatar [src]="'assets/profileImg/'+ data.adminId +'.jpg'"
           class="mat-elevation-z2 width-50 height-50 round-corner-all margin-auto"
           [alt]="data.name + ' ' + data.family">
      <h3 matLine class="text-weight-bold"> {{data.name + ' ' + data.family}} </h3>

      <p matLine class="font-8-rem">
        <span> <b>وقت محلی</b> <span class="ltr padding-mini-r-l">{{data.date | jalali}}</span> </span>
      </p>

      <p matLine class="font-8-rem">
        <span> <b>شماره</b> <span class="ltr padding-mini-r-l">{{data.extension}}</span> </span>
      </p>

      <div [ngClass]="data.status === '1' ? 'online' : 'offline'"
           class="user-soft-phone-status pos-rel text-gray-500 width-30 height-30 round-corner-all"></div>
    </mat-list-item>
  </mat-list>

  <mat-divider class="margin-mini-t-b"></mat-divider>

  <div class="height-60 display-flex flex-space-around">
    <button mat-raised-button
            (click)="call(data)"
            [disabled]="data.status === '0'"
            type="submit" class="green-gradient text-white font-8-rem margin-auto width-90 height-35 padding-mini-r-l">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">call</mat-icon>
      <span class="padding-mini-r-l">تماس</span>
    </button>

    <button mat-raised-button
            (click)="call(data)"
            type="submit" class="aqua-gradient text-white font-8-rem margin-auto width-90 height-35 padding-mini-r-l">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">chat</mat-icon>
      <span class="padding-mini-r-l">پیام</span>
    </button>

    <button mat-raised-button
            (click)="call(data)"
            type="submit" class="blue-gradient text-white font-8-rem margin-auto width-90 height-35 padding-mini-r-l">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">record_voice_over</mat-icon>
      <span class="padding-mini-r-l">صوتی</span>
    </button>
  </div>
</div>
