@import '../../../../assets/mixin';

:host {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.user-soft-phone-status {
  &::before {
    @include radius-all();

    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  &.online {
    &::before {
      background-color: #4ec060;
    }
  }

  &.offline {
    &::before {
      background-color: #c30;
    }
  }
}
