<div *ngIf="form" class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <form (submit)="submit()"
        *ngIf="form" [dir]="rtlDirection ? 'rtl' : 'ltr'"
        [formGroup]="form" class="full-height" autocomplete="off">
    <div class="height-full-minus-45 overflow-x-hide overflow-y-auto full-width">
      <h1 class="margin-b-full text-gray-800 font-full-plus-one-tenth-em text-weight-500 margin-b-half">
        {{'learning.room_password' | translate}}
      </h1>

      <p *ngIf="!isElectron" class="text-red-500 display-flex">
        <mat-icon>warning</mat-icon>
        <span class="padding-r-l">{{'learning.warning_test' | translate}}</span>
      </p>

      <div class="display-flex margin-r-l-reverse margin-b-full">
        <div class="full-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <input class="full-width" formControlName="password" matInput
                   #roomPass
                   placeholder="{{'learning.room_pass' | translate}}"
                   required tabindex="1" type="password">
            <mat-label>
              {{'learning.room_pass' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('password').valid && form.get('password').touched">
              {{'learning.room_pass_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="height-45 display-flex justify-content-end full-width display-flex align-items-end justify-content-end">
      <button (click)="cancelBtn()"
              class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal"
              type="button">
        <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
      </button>

      <button [disabled]="!form.valid"
              class="green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
              mat-raised-button
              tabindex="13"
              type="submit">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
        <span class="padding-mini-r-l">{{'learning.join_room' | translate}}</span>
      </button>
    </div>
  </form>

  <div *ngIf="loadingIndicator && loadingIndicator.status && loadingIndicator.serviceName === 'roomPassword'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg height="30px" id="Layer_1" style="enable-background:new 0 0 50 50;" viewBox="0 0 24 30"
           width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
        <rect fill="#333" height="5" width="4" x="0" y="13">
          <animate attributeName="height" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="10" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="20" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
      </svg>
      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
