<div *ngIf="form" class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <form *ngIf="form" [formGroup]="form" (submit)="submit()" class="full-height" [dir]="rtlDirection ? 'rtl' : 'ltr'">
    <div class="height-full-minus-45 overflow-x-hide overflow-y-auto full-width">
      <h1 class="margin-b-full text-gray-800 font-full-em text-weight-500 margin-b-half">
        {{'learning.room_password' | translate}}
      </h1>

      <div class="display-flex margin-r-l-reverse margin-b-full">
        <div class="full-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <input matInput placeholder="{{'learning.room_pass' | translate}}" class="full-width" type="password"
                   formControlName="password" required tabindex="1">
            <mat-label>
              {{'learning.room_pass' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('password').valid && form.get('password').touched">
              {{'learning.room_pass_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="height-45 display-flex justify-content-end full-width display-flex align-items-end justify-content-end">
      <button (click)="cancelBtn()"
              type="button"
              class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal">
        <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
      </button>

      <button mat-raised-button
              [disabled]="!form.valid"
              type="submit"
              tabindex="13"
              class="green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
        <span class="padding-mini-r-l">{{'learning.join_room' | translate}}</span>
      </button>
    </div>
  </form>

  <div *ngIf="loadingIndicator && loadingIndicator.status && loadingIndicator.serviceName === 'roomPassword'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
