<div class="pos-abs left-0 right-0 top-0 bottom-0 full-width full-height padding-full"
     [dir]="rtlDirection ? 'rtl' : 'ltr'">
  <h1 class="margin-b-full text-gray-800 font-full-em text-weight-500 no-margin height-45">
    لیست انجام کار
    <span [ngClass]="rtlDirection ? 'margin-r-half' : 'margin-l-half'"
          class="text-gray-500 font-7-em text-italic">
      {{todoList.length ? todoList.length + 'tasks.task_todo.items' : '' | translate}}
    </span>
  </h1>
  <div class="todo-content-container">
    <form [formGroup]="form">
      <div *ngIf="todoList.length" class="todo-list-container overflow-y-auto overflow-x-hide padding-b-full">
        <mat-list class="no-padding">
          <mat-list-item *ngFor="let todoItem of todoList"
                         (click)="checkTodo(todoItem)"
                         [ngClass]="todoItem.isChecked ? 'text-green-200' : 'text-gray-700'"
                         class="height-45 no-padding cursor-pointer">
            <mat-icon mat-list-icon class="no-padding">
              {{todoItem.isChecked ? 'check_circle_outline' : 'radio_button_unchecked'}}
            </mat-icon>

            <div mat-line class="no-text-eclipse"
                 [ngClass]="{'text-line-through': todoItem.isChecked}">{{todoItem.text}}</div>

            <div mat-line class="text-italic font-7-em">{{todoItem.creationDate | jalali}}</div>

            <button
              [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
              class="display-block cursor-pointer width-18 height-18 text-center no-padding no-border no-bg"
              (click)="$event.stopPropagation(); updateTodo(todoItem)">
              <mat-icon class="no-padding width-18 height-18 line-height-15 font-full-rem text-green-600">edit</mat-icon>
            </button>

            <button
              class="display-block cursor-pointer width-18 height-18 text-center no-padding no-border no-bg"
              (click)="$event.stopPropagation(); deleteTodo(todoItem)">
              <mat-icon class="no-padding width-18 height-18 line-height-15 font-full-rem text-red-600">close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="enter-todo-container margin-t-full">
        <div formGroupName="todo">
          <mat-form-field appearance="outline" class="full-width height-45 font-9-em" color="primary">
            <input matInput formControlName="text"
                   placeholder="یک مورد اضافه کن"
                   name="inputValue"
                   (keydown)="$event.code === 'Enter' ? edit ? saveTodo() : addTodo() : ''">

            <button mat-raised-button matSuffix
                    [disabled]="form.get('todo').value.text === ''"
                    (click)="edit ? saveTodo() : addTodo()">
              <mat-icon>check</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
