<div class="pos-abs left-0 right-0 top-0 bottom-0 full-width full-height"
     [dir]="rtlDirection ? 'rtl' : 'ltr'">
  <h1 class="margin-b-full text-gray-800 font-full-em text-weight-500 no-margin height-45 line-height-15 padding-full">
    {{'tasks.task_todo.todo_list' | translate}}
    <span [ngClass]="rtlDirection ? 'margin-r-half' : 'margin-l-half'"
          class="text-gray-500 font-7-em text-italic">
      {{tasks.length ? tasks.length : ''}} {{(tasks.length ? 'global.items' : '') | translate}}
    </span>
  </h1>

  <div class="todo-content-container height-full-minus-50 padding-full padding-b-half overflow-y-auto">
    <form [formGroup]="form" class="full-height">

      <div *ngIf="tasks.length" class="todo-list-container height-full-minus-45 overflow-y-auto overflow-x-hide">
        <div class="no-padding example-list"
             cdkDropList
             [cdkDropListData]="tasks"
             (cdkDropListDropped)="changeTodo($event)">
          <mat-card *ngFor="let task of tasks; let i = index"
                    class="height-auto cursor-pointer border-bottom no-padding bg-grey no-box-shadow"
                    cdkDragLockAxis="y"
                    cdkDrag>

            <mat-card-content class="text-gray-600 display-flex flex-space-between">

              <div class="display-flex align-items-center">
                <mat-icon class="no-padding text-gray-400"
                          [ngClass]="rtlDirection ? 'margin-l-tiny' : 'margin-r-tiny'"
                          cdkDragHandle>
                  drag_handle
                </mat-icon>

                <!--<mat-icon class="no-padding"
                          [ngClass]="todoItem.isChecked ? 'text-green-200' : 'text-gray-700'">
                  {{todoItem.isChecked ? 'check_circle_outline' : 'radio_button_unchecked'}}
                </mat-icon>-->

                <mat-icon class="no-padding"
                          (click)="checkTask(task)"
                          [ngClass]="task.percentage === 100 ? 'text-green-200' : 'text-gray-700'">
                  {{task.percentage === 100 ? 'check_circle_outline' : 'radio_button_unchecked'}}
                </mat-icon>
              </div>

              <!--<div class="flex-grow-1"
                   [ngClass]="todoItem.isChecked ? 'text-green-200' : 'text-gray-700'">
                <div class="no-text-eclipse font-full-em height-auto padding-mini-t-b padding-mini-r-l"
                     [ngClass]="{'text-line-through': todoItem.isChecked}">{{todoItem.text}}</div>

                <div class="text-italic font-7-em padding-mini-r-l">{{todoItem.creationDate | jalali:rtlDirection}}</div>
              </div>-->

              <div class="flex-grow-1"
                   (click)="openTask(task)"
                   [ngClass]="task.percentage === 100 ? 'text-green-200' : 'text-gray-700'">
                <div class="no-text-eclipse font-full-em height-auto padding-mini-t-b padding-mini-r-l"
                     [ngClass]="{'text-line-through': task.percentage === 100}">
                  {{i+1}}. {{task.taskName}}
                </div>

                <!--<div class="text-italic font-7-em padding-mini-r-l">{{task.creationDate | jalali:rtlDirection}}</div>-->
              </div>

              <div class="display-flex align-items-center">
                <button
                  type="button"
                  [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                  class="display-block cursor-pointer width-18 height-18 text-center no-padding no-border no-bg"
                  (click)="$event.stopPropagation(); updateTask(task)">
                  <mat-icon class="no-padding width-18 height-18 line-height-15 font-full-rem text-green-600">edit
                  </mat-icon>
                </button>

                <button
                  type="button"
                  class="display-block cursor-pointer width-18 height-18 text-center no-padding no-border no-bg"
                  (click)="$event.stopPropagation(); deleteTask(task)">
                  <mat-icon class="no-padding width-18 height-18 line-height-15 font-full-rem text-red-600">close
                  </mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="enter-todo-container height-45">
        <div class="full-height pos-rel">
          <mat-form-field appearance="outline" class="full-width height-45 font-9-em" color="primary">
            <input matInput
                   formControlName="taskName"
                   placeholder="{{'tasks.task_todo.add_an_item' | translate}}"
                   name="inputValue"
                   (keydown)="$event.code === 'Enter' ? edit ? saveTask() : addTask() : ''">
          </mat-form-field>
          <button class="no-bg no-border width-30 no-padding pos-abs top-full-plus-one-tenth cursor-pointer"
                  [ngClass]="rtlDirection ? 'left-half' : 'right-half'"
                  type="button"
                  [disabled]="form.get('taskName').value === ''"
                  (click)="edit ? saveTask() : addTask()">
            <mat-icon class="text-blue-500">send</mat-icon>
          </button>
        </div>
      </div>
      <!--end of btn submit-->
    </form>
  </div>

  <div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'todo'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
        <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
