<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     class="pos-abs left-0 right-0 top-0 bottom-0 full-width full-height">
  <h1 class="margin-b-full text-gray-800 font-full-em text-weight-500 no-margin height-45 padding-full">
    {{'tasks.task_todo.todo_list' | translate}}
    <span [ngClass]="rtlDirection ? 'margin-r-half' : 'margin-l-half'"
          class="text-gray-500 font-7-em text-italic">
      {{todoList.length ? todoList.length : ''}} {{(todoList.length ? 'global.items' : '') | translate}}
    </span>
  </h1>
  <div class="todo-content-container padding-full padding-b-half">
    <form [formGroup]="form" class="full-height">
      <div *ngIf="todoList.length" class="todo-list-container padding-b-full overflow-y-auto overflow-x-hide">
        <mat-list class="no-padding">
          <mat-list-item (click)="checkTodo(todoItem)"
                         *ngFor="let todoItem of todoList"
                         [ngClass]="todoItem.isChecked ? 'text-green-200' : 'text-gray-700'"
                         class="height-auto cursor-pointer border-bottom">
            <mat-icon class="no-padding" mat-list-icon>
              {{todoItem.isChecked ? 'check_circle_outline' : 'radio_button_unchecked'}}
            </mat-icon>

            <div [ngClass]="{'text-line-through': todoItem.isChecked}" class="no-text-eclipse font-8-em height-auto padding-mini-t-b"
                 mat-line>{{todoItem.text}}</div>

            <div class="text-italic font-7-em" mat-line>{{todoItem.creationDate | jalali:rtlDirection}}</div>

            <button
              (click)="$event.stopPropagation(); updateTodo(todoItem)"
              [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
              class="display-block cursor-pointer width-18 height-18 text-center no-padding no-border no-bg"
              type="button">
              <mat-icon class="no-padding width-18 height-18 line-height-15 font-full-rem text-green-600">edit
              </mat-icon>
            </button>

            <button
              (click)="$event.stopPropagation(); deleteTodo(todoItem)"
              class="display-block cursor-pointer width-18 height-18 text-center no-padding no-border no-bg"
              type="button">
              <mat-icon class="no-padding width-18 height-18 line-height-15 font-full-rem text-red-600">close</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="enter-todo-container margin-t-full">
        <div formGroupName="todo">
          <mat-form-field appearance="outline" class="full-width height-45 font-9-em" color="primary">
            <input (keydown)="$event.code === 'Enter' ? edit ? saveTodo() : addTodo() : ''" formControlName="text"
                   matInput
                   name="inputValue"
                   placeholder="{{'tasks.task_todo.add_an_item' | translate}}">

            <button (click)="edit ? saveTodo() : addTodo()" [disabled]="form.get('todo').value.text === ''"
                    mat-raised-button
                    matSuffix
                    type="button">
              <mat-icon>check</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'todo'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg height="30px" id="Layer_1" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 24 30"
           width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
        <rect fill="#333" height="5" width="4" x="0" y="13">
          <animate attributeName="height" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="10" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="20" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
