.address-bar-container {
  border-bottom: solid 1px rgba(220, 220, 220, .93);
  background-color: #f1f1f1;
  padding: .65em.75em;

  input {
    background-color: #FFF;
    border: solid 1px #DDD;
    width: calc(100% - 40px);
  }
}

.reload-btn {
  width: 32px;
  height: 32px;
  border: solid 1px #DDD !important;

  .mat-icon {
    transform: scale(.8);
  }
}
