<full-calendar *ngIf="calendarEvents.length" defaultView="timeGridWeek"
               [locale]="rtlDirection ? 'fa' : 'en'"
               [dir]="rtlDirection ? 'rtl' : 'ltr'"
               [editable]="false"
               [handleWindowResize]="true"
               [header]="header"
               [buttonText]="buttonLabels"
               [slotLabelFormat]="slotLabelFormat"
               [views]="views"
               [allDaySlot]="false"
               [displayEventTime]="true"
               [eventLimit]="2"
               [events]="calendarEvents"
               [plugins]="calendarPlugins"
               (click)="eventClick($event)">
</full-calendar>
