<mat-drawer-container [ngClass]="rtlDirection ? 'ca-rtl' : 'ca-ltr'" autosize class="rate-calendar">
  <full-calendar (eventClick)="eventClick($event)" (eventRender)="eventRender($event)"
                 *ngIf="calendarEvents.length"
                 [allDaySlot]="true"
                 [buttonText]="buttonLabels"
                 [dir]="rtlDirection ? 'rtl' : 'ltr'"
                 [displayEventTime]="true"
                 [editable]="false"
                 [eventLimitText]="''"
                 [eventLimit]="2"
                 [events]="calendarEvents"
                 [firstDay]="1"
                 [handleWindowResize]="true"
                 [header]="header"
                 [locale]="rtlDirection ? 'fa' : 'en'"
                 [plugins]="calendarPlugins"
                 [selectOverlap]="false"
                 [slotLabelFormat]="slotLabelFormat"
                 [views]="views"
                 defaultView="dayGridMonth">
  </full-calendar>
</mat-drawer-container>
