<full-calendar *ngIf="calendarEvents.length" defaultView="dayGridMonth"
               [locale]="rtlDirection ? 'fa' : 'en'"
               [dir]="rtlDirection ? 'rtl' : 'ltr'"
               [editable]="false"
               [handleWindowResize]="true"
               [header]="header"
               [buttonText]="buttonLabels"
               [slotLabelFormat]="slotLabelFormat"
               [selectOverlap]="false"
               [views]="views"
               [allDaySlot]="true"
               [firstDay]="1"
               [displayEventTime]="true"
               [eventLimit]="2"
               (eventClick)="eventClick($event)"
               (eventRender)="eventRender($event)"
               [events]="calendarEvents"
               [plugins]="calendarPlugins">
</full-calendar>
