<form [dir]="rtlDirection ? 'rtl' : 'ltr'" [formGroup]="form" class="full-width padding-full-2 margin-auto">
  <mat-form-field class="full-width font-full-em margin-b-full">
    <mat-icon class="text-gray-500" matPrefix>person</mat-icon>
    <input autoFocus
           autocomplete="off"
           class="text-left padding-mini-r-l"
           dir="ltr"
           formControlName="username" matInput
           placeholder="{{'login_info.username' | translate}}"
           required
           tabindex="1"
           type="text">
    <mat-error
      *ngIf="!form.get('username').valid && form.get('username').touched">
      {{'login_info.username_error' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width font-full-em margin-b-full">
    <mat-icon class="text-gray-500" matPrefix>lock</mat-icon>
    <input [type]="hide ? 'password' : 'text'"
           autocomplete="off"
           class="text-left padding-mini-r-l"
           dir="ltr"
           formControlName="password"
           matInput
           placeholder="{{'login_info.password' | translate}}"
           required
           tabindex="2">
    <mat-icon (mousedown)="hide = !hide"
              (mouseup)="hide = true" *ngIf="form.get('password').valid" class="login-icon cursor-pointer text-red-800 font-full-plus-three-tenth-em"
              matSuffix> {{hide ? 'visibility' : 'visibility_off'}}
    </mat-icon>
    <mat-error
      *ngIf="!form.get('password').valid && form.get('password').touched">
      {{'login_info.password_error' | translate}}
    </mat-error>
  </mat-form-field>

  <button (click)="login()"
          [disabled]="!form.valid"
          class="purple-gradient full-width text-white line-height-30 font-9-em text-weight-normal"
          mat-raised-button
          tabindex="3">
    {{'login_info.login' | translate}}
  </button>
</form>
