<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <form (submit)="submit()" [formGroup]="form" class="full-height">
    <div class="height-full-minus-30 full-width">
      <h1 class="margin-b-full text-gray-800 font-full-em text-weight-500 margin-b-half">
        {{'tasks.task_filter.tasks_filter_calendar' | translate}}
      </h1>
      <div class="display-flex margin-r-l-reverse">
        <div class="full-width padding-r-l">
          <mat-form-field class="full-width font-8-em">
            <img [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                 [srcset]="'assets/profileImg/'+form.get('userImg').value +'.jpg'"
                 class="width-20 height-20 round-corner-all pos-rel top-three-tenth"
                 matPrefix>
            <mat-label>{{'tasks.form.assign_to' | translate}}</mat-label>
            <mat-select formControlName="adminId" tabIndex="1">
              <mat-option (onSelectionChange)="updateImage($event , user)" *ngFor="let user of usersList"
                          [value]="user.adminId"
                          class="font-full-em">
                <div class="display-flex align-items-center">
                  <img [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                       [src]="'assets/profileImg/'+user.email+'.jpg'"
                       class="width-20 height-20 round-corner-all pos-rel"
                       matPrefix
                       (error)="$event.target.src='assets/profileImg/0.jpg'">
                  <span class="line-height-40">{{user.name + ' ' + user.family}}</span>
                </div>
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('adminId').valid && form.get('adminId').touched">
              {{'tasks.form.assign_to_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="display-flex margin-r-l-reverse">
        <div class="dpDateStartPicker half-width padding-r-l">
          <mat-form-field class="dpDatePicker full-width font-8-em" [dir]="rtlDirection ? 'rtl' : 'ltr'">
            <mat-label>{{'global.from_date' | translate}}</mat-label>

            <!--<input (click)="picker1.open()" (dateChange)="dateToGregorian('dateStart', $event)" (focus)="picker1.open()"
                   [matDatepicker]="picker1"
                   formControlName="dateStart" matInput
                   readonly tabindex="2">
            <mat-datepicker #picker1></mat-datepicker>-->
            <input [dpDayPicker]="datePicker"
                   formControlName="dateStart"
                   tabindex="2"
                   theme="dp-material" matInput placeholder="" readonly>

            <button (click)="form.get('dateStart').setValue('')"
                    *ngIf="form.get('dateStart').touched && form.get('dateStart').value.length"
                    aria-label="Clear"
                    class="close-icon pos-rel top-half float-left" mat-button mat-icon-button matSuffix
                    type="button">
              <mat-icon>close</mat-icon>
            </button>

            <mat-error *ngIf="!form.get('dateStart').valid && form.get('dateStart').touched">
              {{'global.date_error' | translate}}
            </mat-error>

            <mat-error *ngIf="form.get('dateStart').value > form.get('dateStop').value">
              {{'tasks.form.assign_to_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="dpDateStopPicker half-width padding-r-l">
          <mat-form-field class="dpDatePicker full-width font-8-em" [dir]="rtlDirection ? 'rtl' : 'ltr'">
            <mat-label>{{'global.to_date' | translate}}</mat-label>
            <!--<input (click)="picker2.open()" (dateChange)="dateToGregorian('dateStop', $event)" (focus)="picker2.open()"
                   [matDatepicker]="picker2" formControlName="dateStop"
                   matInput
                   readonly tabindex="3">
            <mat-datepicker #picker2></mat-datepicker>-->
            <input [dpDayPicker]="datePicker"
                   formControlName="dateStop"
                   tabindex="6"
                   theme="dp-material" matInput placeholder="" readonly>

            <button (click)="form.get('dateStop').setValue('')"
                    *ngIf="form.get('dateStop').touched && form.get('dateStop').value.length"
                    aria-label="Clear"
                    class="close-icon pos-rel top-half float-left" mat-button mat-icon-button matSuffix
                    type="button">
              <mat-icon>close</mat-icon>
            </button>

            <mat-error *ngIf="!form.get('dateStop').valid && form.get('dateStop').touched">
              {{'global.date_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="height-30 full-width display-flex flex-direction-row-reverse">
      <button [disabled]="!form.valid"
              class="green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
              disabled
              mat-raised-button
              tabindex="13"
              type="submit">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
        <span class="padding-mini-r-l">{{'global.submit' | translate}}</span>
      </button>
      <button (click)="closeDialog(false)"
              class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal"
              type="button">
        <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
      </button>
    </div>
  </form>
</div>
