<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="toolbar-container display-flex flex-space-between">
  <!-- Main Menu -->
  <app-main-menu [loggedInUser]="loggedInUser"
                 [ngClass]="rtlDirection ? 'margin-l-auto' : 'margin-r-auto'"
                 [rtlDirection]="rtlDirection"
                 [serviceList]="serviceList"
                 class="box-holder"></app-main-menu>
  <!-- /Main Menu -->

  <!-- Opened App Container -->
  <app-window-app-container [rtlDirection]="rtlDirection"
                            [windowManager]="windowManager"
                            class="box-holder"></app-window-app-container>
  <!-- /Opened App Container -->

  <div class="flex-spacer"></div>

  <!-- Change User Status -->
  <app-user-status [loggedInUser]="loggedInUser"
                   [ngClass]="rtlDirection ? 'margin-r-auto' : 'margin-l-auto'"
                   [rtlDirection]="rtlDirection"
                   [serviceList]="serviceList"
                   class="box-holder pos-rel"></app-user-status>
  <!-- /Change User Status -->

  <app-time-area [loggedInUser]="loggedInUser"
                 [ngClass]="rtlDirection ? 'margin-r-auto' : 'margin-l-auto'"
                 [rtlDirection]="rtlDirection"
                 class="box-holder"></app-time-area>

  <!-- Profile Menu -->
  <app-profile-menu [loggedInUser]="loggedInUser"
                    [ngClass]="rtlDirection ? 'margin-r-auto' : 'margin-l-auto'"
                    [rtlDirection]="rtlDirection"
                    class="box-holder"></app-profile-menu>
  <!-- /Profile Menu -->
</div>
