<div class="toolbar-container display-flex flex-space-between" [dir]="rtlDirection ? 'rtl' : 'ltr'">
  <!-- Main Menu -->
  <app-main-menu class="box-holder"
                 [ngClass]="rtlDirection ? 'margin-l-auto' : 'margin-r-auto'"
                 [loggedInUser]="loggedInUser"
                 [serviceList]="serviceList"
                 [rtlDirection]="rtlDirection"></app-main-menu>
  <!-- /Main Menu -->

  <!-- Opened App Container -->
  <app-window-app-container class="box-holder"
                            [windowManager]="windowManager"
                            [rtlDirection]="rtlDirection"></app-window-app-container>
  <!-- /Opened App Container -->

  <div class="flex-spacer"></div>

  <!-- Change User Status -->
  <app-user-status class="box-holder"
                   [ngClass]="rtlDirection ? 'margin-r-auto' : 'margin-l-auto'"
                   [loggedInUser]="loggedInUser"
                   [rtlDirection]="rtlDirection"></app-user-status>
  <!-- /Change User Status -->

  <app-time-area class="box-holder"
                 [ngClass]="rtlDirection ? 'margin-r-auto' : 'margin-l-auto'"
                 [loggedInUser]="loggedInUser"
                 [rtlDirection]="rtlDirection"></app-time-area>

  <!-- Profile Menu -->
  <app-profile-menu class="box-holder"
                    [ngClass]="rtlDirection ? 'margin-r-auto' : 'margin-l-auto'"
                    [loggedInUser]="loggedInUser"
                    [rtlDirection]="rtlDirection"></app-profile-menu>
  <!-- /Profile Menu -->
</div>
