<div class="component-content full-width full-height pos-abs left-0 right-0 top-0">
  <div class="title-container pos-rel height-100 overflow-hide full-width float-left">
    <h1 class="no-margin line-height-55 padding-r-l font-full-em text-weight-500">مدیریت تسک ها</h1>

    <mat-tab-group (selectedTabChange)="tabChange($event)" class="pos-rel top-seven-tenth padding-r-l" color="accent" disableRipple>
      <mat-tab *ngFor="let tab of tabs;">
        <ng-template mat-tab-label>
          <!--<mat-icon class="tab-icon pos-rel top-one-tenth font-full-plus-half-em text-right">{{tab.icon}}</mat-icon>-->
          {{tab.name}}
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div class="pos-abs left-full top-full">
      <button mat-raised-button
              (click)="showFilter()"
              class="white-gradient margin-l-full text-white line-height-30 font-7-em overflow-hide text-weight-normal">
        <mat-icon class="text-black width-20 height-20 font-full-plus-two-tenth-rem">filter_list</mat-icon>
      </button>

      <button mat-raised-button
              (click)="addNewTask()"
              class="blue-gradient text-white line-height-30 font-7-em overflow-hide text-weight-normal">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">add</mat-icon>
        <span class="padding-mini-r-l">افزودن تسک</span>
      </button>
    </div>
  </div>

  <div class="content-container padding-full full-width float-left">
    <ng-container [ngSwitch]="activeTab">
      <!-- boards container -->
      <div class="full-height" *ngSwitchCase="0">
        <app-task-board [filterBoards]="filteredBoardsData" [refreshData]="refreshBoardData" (pushTaskEssentialInfo)="getTaskEssentialInfo($event)"></app-task-board>
      </div>
      <!--/ end of boards container -->

      <!-- calendar container -->
      <div class="full-height" *ngSwitchCase="1">
        <app-task-calendar [filterBoards]="filteredBoardsData" [refreshData]="refreshBoardData" (pushTaskEssentialInfo)="getTaskEssentialInfo($event)"></app-task-calendar>
      </div>
      <!--/ end of calendar container -->

      <!-- notes container -->
      <!--<div class="full-height" *ngSwitchCase="1">
        <app-task-notes></app-task-notes>
      </div>-->
      <!--/ end of notes container -->

      <!-- messages container -->
      <!--<div class="full-height" *ngSwitchCase="2">
        <app-task-messages></app-task-messages>
      </div>-->
      <!--/ end of messages container -->

      <!-- files container -->
      <!--<div class="full-height" *ngSwitchCase="4">
        <app-task-files></app-task-files>
      </div>-->
      <!--/ end of files container -->
    </ng-container>
  </div>

  <div class="current-task-container bg-white height-50 full-width float-left padding-r-l line-height-50">
    <app-task-current></app-task-current>
  </div>
</div>
