<div class="component-content full-width full-height pos-abs left-0 right-0 top-0" dir="rtl">
  <div class="title-container pos-rel height-60 overflow-hide full-width float-left">
    <mat-tab-group (selectedTabChange)="tabChange($event)" class="pos-rel top-tab-container padding-r-l z-index-0 height-35" color="accent" disableRipple>
      <mat-tab *ngFor="let tab of tabs;">
        <ng-template mat-tab-label>
          <!--<mat-icon class="tab-icon pos-rel top-one-tenth font-full-plus-half-em text-right">{{tab.icon}}</mat-icon>-->
          {{tab.name}}
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div class="pos-abs left-full top-full">
      <button mat-raised-button
              [disabled]="!taskEssentialInfo"
              (click)="addNewTask()"
              class="green-gradient float-left text-white line-height-30 font-9-em overflow-hide text-weight-normal">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">add</mat-icon>
        <span class="padding-mini-r-l">افزودن تسک</span>
      </button>

      <button mat-raised-button
              [disabled]="!taskEssentialInfo"
              (click)="showFilter()"
              class="white-gradient float-left margin-l-full text-gray-800 line-height-30 font-9-em overflow-hide text-weight-normal">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">filter_list</mat-icon>
        <span class="padding-mini-r-l">فیلتر</span>
      </button>

      <button *ngIf="doResetFilter" (click)="resetFilter()"
              class="no-bg no-border height-35 margin-l-full cursor-pointer" dir="rtl">
        <mat-icon class="float-right font-8-rem line-height-25 width-18 height-18">close</mat-icon>
        <span class="font-8-rem line-height-25">حذف فیلتر</span>
      </button>
    </div>
  </div>

  <div class="content-container padding-full full-width float-left">
    <ng-container [ngSwitch]="activeTab">
      <!-- boards container -->
      <div class="full-height" *ngSwitchCase="0">
        <app-task-board [filterBoards]="filteredBoardsData"
                        [refreshData]="refreshBoardData"
                        [pushTaskToBoard]="pushTaskToBoard"
                        (pushTaskEssentialInfo)="getTaskEssentialInfo($event)"></app-task-board>
      </div>
      <!--/ end of boards container -->

      <!-- calendar container -->
      <div class="full-height" *ngSwitchCase="1">
        <app-task-calendar></app-task-calendar>
      </div>
      <!--/ end of calendar container -->

      <!-- notes container -->
      <!--<div class="full-height" *ngSwitchCase="1">
        <app-task-notes></app-task-notes>
      </div>-->
      <!--/ end of notes container -->

      <!-- messages container -->
      <!--<div class="full-height" *ngSwitchCase="2">
        <app-task-messages></app-task-messages>
      </div>-->
      <!--/ end of messages container -->
    </ng-container>
  </div>

  <div class="current-task-container bg-white height-50 full-width float-left padding-r-l line-height-50">
    <app-task-current [taskEssentialInfo]="taskEssentialInfo" (pushTaskToBoard)="getTaskToBoardData($event)"></app-task-current>
  </div>
</div>
