<div class="animator full-width-screen full-height-screen display-flex flex-center"
     [dir]="rtlDirection ? 'rtl' : 'ltr'">
  <div
    class="login-container sixty-width round-corner overflow-hide sixty-height bg-white mat-elevation-z15 display-flex">
    <div class="half-width display-flex flex-center pos-rel">
      <img [src]="'assets/images/logo_saasby.png'" class="logo-saasby pos-abs width-100">

      <div class="sixty-width">
        <app-login-form></app-login-form>
      </div>
    </div>

    <div class="half-width bg-grey display-flex flex-center">
      <img [src]="'assets/images/login2.png'" class="eighty-width"
           [ngStyle]="{'transform' : !rtlDirection ? '' : 'scaleX(-1)'}">
    </div>
  </div>

  <p dir="ltr"
     class="company-sign full-width height-30 line-height-30 text-white pos-fix bottom-0 text-center font-8-em">
    &copy; SaaSBY powered by IDP.
  </p>
</div>
