<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     class="animator full-width-screen full-height-screen display-flex flex-center">
  <div
    class="login-container sixty-width round-corner overflow-hide sixty-height bg-white mat-elevation-z15 display-flex">
    <div class="half-width display-flex flex-center pos-rel">
      <img [src]="'assets/images/logo_enoox.png'" alt="" class="logo-saasby pos-abs width-100">

      <div class="sixty-width">
        <app-login-form></app-login-form>
      </div>
    </div>

    <div class="half-width bg-grey display-flex flex-center">
      <img [ngStyle]="{'transform' : !rtlDirection ? '' : 'scaleX(-1)'}" [src]="'assets/images/login.png'"
           class="eighty-width" alt="">
    </div>
  </div>

  <p class="company-sign full-width height-30 line-height-30 text-white pos-fix bottom-0 text-center font-8-em"
     dir="ltr">
    &copy; Container Powered By Enoox, v{{version}}.
  </p>
</div>
