<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     class="background-gradient full-width-screen full-height-screen display-flex flex-center">
  <div class="thirty-width display-flex pos-rel">
    <h1 class="pos-abs top-full-2-reverse no-margin full-width text-white font-full-plus-half-em">
      {{'select_company.title' | translate}}
    </h1>

    <mat-list [@listAnimation]="companies.length"
              class="full-width">
      <mat-list-item (click)="goToHome(company.id)" *ngFor="let company of companies; let i = index"
                     [dir]="rtlDirection ? 'rtl' : 'ltr'"
                     [ngClass]="{'margin-b-full': i !== companies.length - 1}"
                     class="company-item pos-rel cursor-pointer height-70 mat-elevation-z3 bg-white round-corner transition overflow-hide">
        <div class="padding-full display-flex flex-space-between full-height align-items-center full-width">
          <span class="company-name transition">{{company.name}}</span>

          <div class="arrow-container pos-rel display-flex align-items-center overflow-hide width-35 height-50">
            <mat-icon class="arrow transition font-full-em-3 full-width full-height pos-abs text-green-500">
              {{rtlDirection ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}
            </mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-list>

    <div class="pos-abs bottom-full-reverse-2">
      <a (click)="goToLogin()" class="display-flex text-white align-items-center cursor-pointer">
        <mat-icon>{{rtlDirection ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>

        <span>{{'select_company.back_to_login' | translate}}</span>
      </a>
    </div>
  </div>
</div>
