<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="pos-abs left-0 right-0 bottom-0 top-0 full-width">
  <div class="window-heading full-width height-45 padding-half display-flex">
    <h3 class="window-title full-width font-full-plus-one-tenth-em text-dark-mode-color display-flex">
      <mat-icon [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                class="text-dark-mode-color pos-rel top-one-tenth">settings
      </mat-icon>
      {{'profileSettings.profile_settings' | translate}}
    </h3>
  </div>

  <div class="window-content pos-rel">
    <div class="component-content full-width full-height">
      <div class="title-container pos-rel height-40 overflow-hide full-width display-flex align-items-end">
        <mat-tab-group (selectedTabChange)="tabChange($event)" class="padding-r-l z-index-0 height-30" color="accent"
                       disableRipple>
          <mat-tab *ngFor="let tab of tabs;">
            <ng-template class="display-flex" mat-tab-label>
              <mat-icon class="tab-icon font-full-em width-15 height-15">
                {{tab.icon}}
              </mat-icon>
              <span class="padding-mini-r-l">{{tab.name}}</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="overflow padding-full full-width full-height">
        <ng-container [ngSwitch]="activeTab">
          <!-- profile container -->
          <div *ngSwitchCase="0" class="full-height">

            <!--btn edit form-->
            <!--<div class="pos-abs left-0 top-0">
              <button (click)="editableForm()"
                      class="no-border cursor-pointer no-bg text-center width-45 height-40 text-green-400 no-padding"
                      type="button">
                <mat-icon class="line-height-30">edit</mat-icon>
              </button>
            </div>-->
            <!--end of btn edit form-->

            <!--image cropper-->
            <div class="container-image-profile display-flex justify-content-center">
              <div class="image-profile">
                <div [dir]="rtlDirection ? 'rtl' : 'ltr'"
                     class="box mat-elevation-z1 pos-rel text-center round-corner width-170 height-170 overflow-hide">
                  <img class="full-width full-height cursor-pointer"
                       [src]="loggedInUser.profile_image" alt=""
                       onerror="this.src='assets/profileImg/0.jpg'">
                  <div (click)="showCropperImage()"
                       class="overlay-image cursor-pointer pos-abs full-width full-height purple-gradient">
                    <mat-icon class="no-padding full-width full-height line-height-170 font-full-rem-2 text-white">
                      camera_alt
                    </mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <!--end of image cropper-->

            <!--form-->
            <div class="full-width display-inline-block">
              <form *ngIf="form" [dir]="rtlDirection ? 'rtl' : 'ltr'" [formGroup]="form">
                <div class="row no-margin">
                  <div [ngClass]="rtlDirection ? 'float-right' : 'float-left'"
                       class="col-xs-12 col-sm-12 col-md-12 margin-t-full">
                    <mat-form-field class="full-width">
                      <mat-label>{{'profileSettings.name_family' | translate}}</mat-label>
                      <input class="full-width"
                             formControlName="name"
                             matInput
                             placeholder="{{'profileSettings.name_family' | translate}}"
                             required>
                      <mat-error>{{'global.name_error' | translate}}</mat-error>
                    </mat-form-field>
                  </div>

                  <div [dir]="'ltr'"
                       [ngClass]="rtlDirection ? 'float-right' : 'float-left'"
                       class="col-xs-12 col-sm-6 col-md-6 margin-t-full">
                    <mat-form-field class="full-width">
                      <mat-label>{{'global.email' | translate}}</mat-label>
                      <input class="full-width text-left"
                             formControlName="email"
                             matInput
                             placeholder="{{'global.email' | translate}}"
                             required
                             type="email">
                      <mat-error>
                        {{'global.email_error' | translate}}
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div [ngClass]="rtlDirection ? 'float-right' : 'float-left'"
                       class="col-xs-12 col-sm-6 col-md-6 margin-t-full">
                    <mat-form-field class="full-width">
                      <mat-label>{{'login_info.password' | translate}}</mat-label>
                      <input class="full-width"
                             formControlName="c_password"
                             matInput
                             placeholder="{{'login_info.password' | translate}}"
                             type="password">
                      <mat-error>{{'login_info.password_error' | translate}}</mat-error>
                    </mat-form-field>
                  </div>

                  <div [ngClass]="rtlDirection ? 'float-right' : 'float-left'"
                       class="col-xs-12 col-sm-6 col-md-6 margin-t-full">
                    <mat-form-field class="full-width">
                      <mat-label>{{'global.extension_placeholder' | translate}}</mat-label>
                      <input class="full-width"
                             formControlName="extension_no"
                             matInput
                             placeholder="{{'global.extension_placeholder' | translate}}"
                             type="number">
                      <mat-error
                        *ngIf="!form.get('extension_no').valid">{{'global.extension_error' | translate}}</mat-error>
                    </mat-form-field>
                  </div>

                  <div [ngClass]="rtlDirection ? 'float-right' : 'float-left'"
                       class="col-xs-12 col-sm-6 col-md-6 margin-t-full">
                    <mat-form-field class="full-width">
                      <mat-label>{{'profileSettings.timezone' | translate}}</mat-label>
                      <input (click)="$event.stopPropagation()"
                             [matAutocomplete]="auto"
                             class="full-width"
                             formControlName="timezone"
                             matInput
                             required
                             type="text">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option (click)="setClockCity(option)" *ngFor="let option of filteredOptions | async"
                                    [value]="option">
                          {{option.city}} - {{option.timezone}}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error>{{'profileSettings.timezone_error' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
            <!--end of form-->

            <!--container dark mode & change lang-->
            <div class="row no-margin">
              <!--dark mode-->
              <div class="col-xs-12 col-sm-6 col-md-6 margin-t-full">
                <div class="display-flex flex-direction-column">
                  <div class="display-flex dark-mode height-50 margin-r-half margin-l-half align-items-center">
                    <div class="container-dark-mode">
                      <label for="darkMode">
                        <input (change)="changeDarkMode($event)" id="darkMode" type="checkbox">
                        <span class="planet display-block">
                    </span>
                        <span class="elements display-block">
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                      <svg version="1.1" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="250" cy="250" r="200"></circle>
                      </svg>
                    </span>
                      </label>
                    </div>
                    <span
                      class="width-100">{{(loggedInUser.dark_mode ? 'profileSettings.dark_mode' : 'profileSettings.light_mode') | translate}}</span>
                  </div>
                </div>
              </div>
              <!--end of dark mode-->

              <!--change lang-->
              <div class="col-xs-12 col-sm-6 col-md-6 margin-t-full">
                <mat-form-field class="full-width">
                  <mat-label class="text-weight-bold">
                    <mat-icon>translate</mat-icon>
                  </mat-label>
                  <mat-select (selectionChange)="changeLang($event)" [(value)]="defaultLang">
                    <mat-option *ngFor="let lang of langs" [value]="lang.id">
                      {{lang.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!--end of change lang-->
            </div>
            <!--change lang-->
            <!--<div class="padding-r-l margin-t-half" mat-menu-item>

              <div [ngClass]="rtlDirection ? 'float-right' : 'float-left'" class="font-7-rem width-35">
                <mat-icon>translate</mat-icon>
              </div>

              <div (click)="changeLang(true)"
                   [ngClass]="rtlDirection ? 'float-right margin-l-full active' : 'float-left margin-r-full'"
                   class="padding-mini-r-l full-height parsi-lang">
                <span>پارسی</span>
              </div>
              <div (click)="changeLang(false)"
                   [ngClass]="rtlDirection ? 'float-right' : 'float-left active'"
                   class="padding-mini-r-l full-height english-lang">
                <span>English</span>
              </div>
            </div>-->
            <!--end of change lang-->
            <!--end of container dark mode & change lang-->

            <div class="row no-margin">
              <!--dark mode-->
              <div class="col-xs-12 col-sm-12 col-md-12 margin-t-full">
                <div
                  class="height-45 full-width">
                  <!--<button (click)="cancelBtn()"

                          class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal"
                          type="button">
                    <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
                  </button>-->

                  <button (click)="onSubmit()"
                          [disabled]="!form.valid"
                          class="full-width green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
                          mat-raised-button
                          tabindex="13"
                          type="submit">
                    <span class="padding-mini-r-l">{{'global.submit' | translate}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--/ end of profile container -->

          <!-- wallpaper container -->
          <div *ngSwitchCase="1" class="full-height">
            <app-wallpaper></app-wallpaper>
          </div>
          <!--/ end of wallpaper container -->
        </ng-container>
      </div>
    </div>
  </div>
</div>


<div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'changeLang'"
     class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-999">
  <div class="text-center">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
      <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                 repeatCount="indefinite"></animate>
        </rect>
      <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                 repeatCount="indefinite"></animate>
        </rect>
      </svg>

    <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
  </div>
</div>
