<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="full-page-size padding-full overflow-hide">
  <div class="task-heading clear-both full-width height-45 display-flex flex-space-between">
    <h1
      class="no-margin height-45 line-height-45 font-full-plus-one-tenth-em text-eclipse padding-r-l text-pink-600 text-weight-500">
      <span class="text-gray-700">{{'events_handler.main.add_new_reminder' | translate}}</span>
    </h1>
  </div>
  <form (submit)="submitReminder()" *ngIf="reminderForm" [dir]="rtlDirection ? 'rtl' : 'ltr'" [formGroup]="reminderForm"
        class="full-height">
    <div class="height-full-minus-45 overflow-x-hide overflow-y-auto full-width">
      <div class="display-flex margin-r-l-reverse">
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'events_handler.form.reminder_type' | translate}}</mat-label>
            <mat-select formControlName="reminderType" required tabIndex="5">
              <mat-option *ngFor="let type of reminderTypeList" [value]="type">
                {{type.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'events_handler.form.reminder_status' | translate}}</mat-label>
            <mat-select formControlName="status" required tabIndex="5">
              <mat-option *ngFor="let status of statusList" [value]="status">
                {{status.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse">
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'events_handler.form.start_at' | translate}}</mat-label>
            <input (click)="picker1.open()" (dateChange)="dateToGregorianReminder('startReminder', $event)" (focus)="picker1.open()" [matDatepicker]="picker1"
                   formControlName="startReminder"
                   matInput placeholder="{{'events_handler.form.start_at' | translate}}"
                   readonly
                   required tabindex="8">
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error>
              <span
                *ngIf="!reminderForm.get('startReminder').value">{{'events_handler.form.start_at_error' | translate}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'events_handler.form.start_time' | translate}}</mat-label>
            <mat-select formControlName="startTime" required tabIndex="9">
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="!reminderForm.get('startTime').valid && reminderForm.get('startTime').touched">
              {{'events_handler.form.start_time_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <!--div class="quarter-width padding-r-l display-none">
            <mat-form-field class="full-width font-9-em">
                <mat-label>{{'events_handler.form.stop_at' | translate}}</mat-label>
                <input matInput [matDatepicker]="picker2" readonly
                       (focus)="picker2.open()" (click)="picker2.open()"
                       (dateChange)="dateToGregorianReminder('endReminder', $event)"
                       formControlName="endReminder" tabindex="10">
                <mat-datepicker #picker2></mat-datepicker>

                <mat-error
                        *ngIf="!reminderForm.get('endReminder').valid && reminderForm.get('endReminder').touched">
                    {{'events_handler.form.stop_at_error' | translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="quarter-width padding-r-l display-none">
            <mat-form-field class="full-width font-9-em">
                <mat-label>{{'events_handler.form.stop_time' | translate}}</mat-label>
                <mat-select formControlName="endTime" tabIndex="11">
                    <mat-option *ngFor="let hour of hours" [value]="hour">
                        {{hour}}
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="!reminderForm.get('endTime').valid && reminderForm.get('endTime').touched">
                    {{'events_handler.form.stop_time_error' | translate}}
                </mat-error>
            </mat-form-field>
        </div-->
      </div>

      <div class="display-flex margin-b-full margin-r-l-reverse">
        <div class="full-width padding-r-l">
          <mat-form-field class="full-width height-80 font-9-em">
            <mat-label>{{'events_handler.form.reminder_description' | translate}}</mat-label>
            <textarea formControlName="description" matInput placeholder="{{'events_handler.form.reminder_description' | translate}}"
                      required
                      tabindex="12"></textarea>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="height-45 display-flex justify-content-end full-width display-flex align-items-end justify-content-end">
      <button (click)="cancelReminderBtn()"
              *ngIf="editableReminder || data.action !== 'detail'"
              class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal"
              type="button">
        <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
      </button>

      <button *ngIf="editableReminder"
              [disabled]="!reminderForm.valid"
              class="green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
              mat-raised-button
              tabindex="13"
              type="submit">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
        <span class="padding-mini-r-l">{{'global.submit' | translate}}</span>
      </button>
    </div>
  </form>
</div>
