<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="pos-abs left-0 right-0 bottom-0 top-0 full-width">
  <div class="window-heading full-width height-45 padding-half display-flex">
    <h3 class="window-title full-width font-full-plus-one-tenth-em text-dark-mode-color display-flex">
      <mat-icon [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                class="text-dark-mode-color pos-rel top-one-tenth">photo_size_select_actual
      </mat-icon>
      {{'profileSettings.edit_user_photo' | translate}}
    </h3>
  </div>
  <div class="window-content pos-rel">
    <div class="component-content full-width full-height pos-abs left-0 right-0 top-0">
      <div class="container-show-cropper padding-full display-inline-block full-width">

        <!--<button (click)="rotateLeft()">Rotate left</button>-->
        <!--<button (click)="rotateRight()">Rotate right</button>-->
        <!--<button (click)="flipHorizontal()">Flip horizontal</button>-->
        <!--<button (click)="flipVertical()">Flip vertical</button>-->
        <!--<button (click)="zoomOut()">Zoom -</button>-->
        <!--<button (click)="zoomIn()">Zoom +</button>-->
        <!--<button (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio ? 'Fill Aspect Ratio' : 'Contain Within Aspect Ratio'}}</button>-->
        <!--<button (click)="resetImage()">Reset image</button>-->

        <label *ngIf="!showCropper" for="fileChange" class="cursor-pointer pos-abs full-width full-height purple-gradient right-0 top-0 text-white text-center" style="line-height: 80vh">
          {{'profileSettings.insert_picture' | translate}}
        </label>

        <input type="file" id="fileChange" hidden (change)="fileChangeEvent($event)"/>

        <div style="width: 50% !important;" [ngClass]="rtlDirection ? 'float-right' : 'float-left'">
          <image-cropper style="padding: 15px !important;" class=""
                         [imageChangedEvent]="imageChangedEvent"
                         [maintainAspectRatio]="true"
                         [containWithinAspectRatio]="containWithinAspectRatio"
                         [aspectRatio]="1"
                         [resizeToWidth]=""
                         [cropperMinWidth]="200"
                         [onlyScaleDown]="true"
                         [roundCropper]="false"
                         [canvasRotation]="canvasRotation"
                         [transform]="transform"
                         [alignImage]="'center'"
                         [style.display]="showCropper ? null : 'none'"
                         format="png"
                         (imageCropped)="imageCropped($event)"
                         (imageLoaded)="imageLoaded()"
                         (cropperReady)="cropperReady($event)"
                         (loadImageFailed)="loadImageFailed()">
          </image-cropper>
        </div>

        <div style="width: 50% !important;" [ngClass]="rtlDirection ? 'float-right' : 'float-left'" class="padding-l-half padding-r-half">
            <img [src]="croppedImage" class="round-corner full-width"/>
          </div>

        <div class="container-tools display-inline-block full-width height-100">
          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="rotateLeft()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">rotate_left</mat-icon>
          </button>

          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="rotateRight()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">rotate_right</mat-icon>
          </button>

          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="flipHorizontal()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">360</mat-icon>
          </button>

          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="flipVertical()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">swap_vert</mat-icon>
          </button>

          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="zoomIn()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">zoom_in</mat-icon>
          </button>

          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="zoomOut()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">zoom_out</mat-icon>
          </button>

          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="toggleContainWithinAspectRatio()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">zoom_out_map</mat-icon>
          </button>

          <button
                  class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l"
                  (click)="resetImage()">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">restore_page</mat-icon>
          </button>
          <!--<input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()"/>-->
        </div>
      </div>
    </div>
  </div>
</div>
