<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="pos-abs left-0 right-0 bottom-0 top-0 full-width">
  <div class="window-heading full-width height-45 padding-half display-flex">
    <h3 class="window-title full-width font-full-plus-one-tenth-em text-dark-mode-color display-flex">
      <mat-icon [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                class="text-dark-mode-color pos-rel top-one-tenth">photo_size_select_actual
      </mat-icon>
      {{'profileSettings.edit_user_photo' | translate}}
    </h3>
  </div>
  <div class="window-content pos-rel">
    <div class="component-content full-width full-height pos-abs left-0 right-0 top-0">
      <div class="container-show-cropper padding-full display-inline-block full-width">

        <!--<button (click)="rotateLeft()">Rotate left</button>-->
        <!--<button (click)="rotateRight()">Rotate right</button>-->
        <!--<button (click)="flipHorizontal()">Flip horizontal</button>-->
        <!--<button (click)="flipVertical()">Flip vertical</button>-->
        <!--<button (click)="zoomOut()">Zoom -</button>-->
        <!--<button (click)="zoomIn()">Zoom +</button>-->
        <!--<button (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio ? 'Fill Aspect Ratio' : 'Contain Within Aspect Ratio'}}</button>-->
        <!--<button (click)="resetImage()">Reset image</button>-->

        <label *ngIf="!showCropper" class="cursor-pointer pos-abs full-width full-height purple-gradient right-0 top-0 text-white text-center z-index-99"
               for="fileChange"
               style="line-height: 80vh">
          {{'profileSettings.insert_picture' | translate}}
        </label>

        <input (change)="fileChangeEvent($event)" hidden id="fileChange" type="file"/>

        <div [ngClass]="rtlDirection ? 'float-right' : 'float-left'" style="width: 50% !important;">
          <image-cropper (cropperReady)="cropperReady($event)"
                         (imageCropped)="imageCropped($event)"
                         (imageLoaded)="imageLoaded()"
                         (loadImageFailed)="loadImageFailed()"
                         [alignImage]="'center'"
                         [aspectRatio]="1"
                         [canvasRotation]="canvasRotation"
                         [containWithinAspectRatio]="containWithinAspectRatio"
                         [cropperMinWidth]="200"
                         [imageChangedEvent]="imageChangedEvent"
                         [imageQuality]="50"
                         [maintainAspectRatio]="true"
                         [onlyScaleDown]="true"
                         [resizeToWidth]=""
                         [roundCropper]="false"
                         [style.display]="showCropper ? null : 'none'"
                         [transform]="transform"
                         format="jpeg"
                         style="padding: 15px !important;">
          </image-cropper>
        </div>

        <div [ngClass]="rtlDirection ? 'float-right' : 'float-left'" class="padding-l-half padding-r-half half-width">
          <img [src]="croppedImage" class="round-corner full-width"/>
        </div>

        <div class="container-tools display-inline-block full-width height-100">

          <button (click)="onSubmit()"
            [ngClass]="rtlDirection ? 'right-0' : 'left-0'"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l pos-abs">
            <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-green-700">
              save
            </mat-icon>
          </button>

          <button (click)="rotateLeft()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">
              rotate_left
            </mat-icon>
          </button>

          <button (click)="rotateRight()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">
              rotate_right
            </mat-icon>
          </button>

          <button (click)="flipHorizontal()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">360
            </mat-icon>
          </button>

          <button (click)="flipVertical()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">
              swap_vert
            </mat-icon>
          </button>

          <button (click)="zoomIn()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">zoom_in
            </mat-icon>
          </button>

          <button (click)="zoomOut()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">
              zoom_out
            </mat-icon>
          </button>

          <button (click)="toggleContainWithinAspectRatio()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">
              zoom_out_map
            </mat-icon>
          </button>

          <button (click)="resetImage()"
            class="display-block cursor-pointer text-center no-padding no-border no-bg margin-r-l">
            <mat-icon
              class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-purple-800">
              restore_page
            </mat-icon>
          </button>
          <!--<input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()"/>-->
        </div>
      </div>
    </div>
  </div>
</div>
