@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/timegrid/main.min.css';

.calendar-switcher {
  width: fit-content;
}

.fc-day-number {
  padding: 5px !important;
}

.fc-view {
  .fc-event, .fc-event-dot {
    border: none !important;
    margin: 3px 10px !important;
    border-radius: 5px !important;
    color: #fff !important;
    padding: 3px 9px !important;
    font-size: 13px !important;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}
