.webView-frame {
  width: 0 !important;
  height: 0 !important;
  bottom: -100% !important;

  &.showFrame {
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.mat-card {
  &:hover {
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }
}

.line-height-22 {
  line-height: 22px;
}

.inactive {
  opacity: .5;
}

.online-in-room {
  color: #757575;

  animation: blink-online-in-room 1s infinite linear;
}

@keyframes blink-online-in-room {
  0% {
    color: #4ec060;
  }
  33.33333% {
    color: #757575;
  }
  100% {
    color: #4ec060;
  }
}
