<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="full-width full-height pos-abs left-0 right-0 top-0 overflow-hide">
  <div *ngIf="!showFrame"
       class="title-container pos-rel height-60 overflow-hide full-width display-flex align-items-center flex-space-between padding-r-l pos-rel z-index-99">
    <h1 class="font-full-plus-two-tenth-em no-margin">{{'learning.title' | translate}}</h1>

    <button (click)="createNewTask()" class="green-gradient padding-mini-r-l text-white line-height-30 font-9-em overflow-hide text-weight-normal"
            mat-raised-button>
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">add</mat-icon>
      <span class="padding-mini-r-l">{{'learning.add_new_room' | translate}}</span>
    </button>
  </div>

  <div *ngIf="!showFrame" class="content-container padding-full full-width height-full-minus-60 pos-rel">
    <div *ngIf="rooms && rooms.length; else showPlaceholder;"
         class="display-flex flex-wrap margin-r-l-reverse margin-b-full padding-tiny-r-l">
      <div *ngFor="let room of rooms" class="thirty-three-width padding-r-l">
        <mat-card (click)="joinRoom(room)"
                  class="room-item margin-b-full bg-white cursor-pointer pos-rel overflow-hide">
          <mat-card-header class="full-width">
            <mat-card-subtitle
              class="full-width font-full-plus-three-tenth-em text-gray-600 display-flex flex-space-between no-margin">
              <span class="display-flex align-items-center">
                <mat-icon [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                          class="font-full-plus-three-tenth-em">meeting_room</mat-icon>
                {{room.roomName}}
              </span>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="no-margin-b">
            <button (click)="deleteRoom(room.id); $event.stopPropagation();"
                    *ngIf="room.userCreator === loggedInUser.email"
                    [ngClass]="rtlDirection ? 'left-0' : 'right-0'"
                    class="no-border cursor-pointer no-bg text-center width-45 height-45 text-red-400 no-padding pos-abs bottom-half"
                    matTooltip="{{'learning.delete_room' | translate}}"
                    type="button">
              <mat-icon class="line-height-30">delete</mat-icon>
            </button>

            <div [ngClass]="rtlDirection ? 'left-half' : 'right-half'"
                 class="display-flex pos-abs top-full flex-direction-row-reverse align-items-center">
              <mat-icon [ngClass]="room.users.length ? 'online-in-room' : ''">persons</mat-icon>
              <span [ngClass]="room.users.length ? 'online-in-room' : ''">{{room.users.length}}</span>
            </div>

            <img [alt]="room.roomName"
                 [ngClass]="{'inactive': !room.users.length}"
                 [src]="'assets/images/conferences/audio-video-' + (room.users.length ? '' : 'in') + 'active.svg'" class="height-150 margin-auto display-flex">
          </mat-card-content>

          <mat-card-footer
            class="padding-mini-t-b padding-r-l height-45 display-flex align-items-center flex-center-y text-gray-500">
            <mat-icon [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                      class="width-18 height-18 font-full-plus-three-tenth-em">more_time
            </mat-icon>

            <span class="font-9-em">{{room.createDate}}</span>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>

    <ng-template #showPlaceholder>
      <div class="flex-center full-width full-height pos-abs left-0 right-0 top-0 bottom-0 z-index-0">
        <img [src]="'assets/board-empty-state/todo.png'" alt="no-room" class="width-250">
        <span
          class="pos-abs left-0 right-0 bottom-0 top-0 z-index-0 margin-auto text-gray-400 font-8-rem full-width height-45 line-height-150 text-center">
          {{'learning.no_room' | translate}}
        </span>
      </div>
    </ng-template>
  </div>

  <div *ngIf="loadingIndicator && loadingIndicator.status && loadingIndicator.serviceName === 'learningSystem'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg height="30px" id="Layer_1" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 24 30"
           width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
        <rect fill="#333" height="5" width="4" x="0" y="13">
          <animate attributeName="height" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="10" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="20" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>

  <ng-container *ngIf="showFrame">
    <div class="webView-frame showFrame transition pos-abs z-index-99">
      <app-learning-system-webview [frameUrl]="frameUrl" [showFrame]="showFrame"></app-learning-system-webview>

      <button (click)="exitRoom()" [ngClass]="rtlDirection ? 'left-half' : 'right-half'"
              class="white-gradient line-height-22 padding-mini-r-l font-9-em overflow-hide text-weight-normal pos-abs top-half"
              mat-raised-button>
        <mat-icon class="width-20 height-20 line-height-20 font-full-plus-one-tenth-rem text-red-700">
          power_settings_new
        </mat-icon>
        <span class="padding-mini-r-l">{{'learning.exit_room' | translate}}</span>
      </button>
    </div>
  </ng-container>
</div>
