<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     [ngClass]="rtlDirection ? 'margin-l-auto' : 'margin-r-auto'"
     class="box pos-rel width-150 mat-elevation-z1 text-center round-corner height-40 cursor-pointer overflow-hide">
  <button mat-raised-button
          *ngIf="userCurrentStatus !== ''; else changeViewStatus"
          (click)="changeStatus(false)"
          [class]="'status-' + userCurrentStatus.statusNameEn.replace(' ', '_').toLocaleLowerCase() + ' blink-effect status-item change-status-btn text-weight-500 line-height-40 full-height font-9-em overflow-hide no-bg mat-elevation-z0 text-dark-mode-color'">
    <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem text-dark-mode-color">{{userCurrentStatus.statusIcon}}</mat-icon>
    <span class="padding-mini-r-l">{{userCurrentStatus.statusNameFa}}</span>
  </button>
  <ng-template #changeViewStatus>
    <button mat-raised-button
            (click)="changeStatus(true)"
            class="change-status-btn text-weight-500 line-height-30 font-9-em full-height overflow-hide no-bg mat-elevation-z0 text-dark-mode-color">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem text-dark-mode-color">sync_problem</mat-icon>
      <span class="padding-mini-r-l">{{'status.apply_status' | translate}}</span>
    </button>
  </ng-template>
</div>

<div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'userStatusDashboard'"
     class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height round-corner flex-center z-index-9999">
  <div class="text-center transform-scale-7">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"/>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"/>
        </rect>
      <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"/>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                 repeatCount="indefinite"/>
        </rect>
      <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"/>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                 repeatCount="indefinite"/>
        </rect>
      </svg>
  </div>
</div>
