<div [dir]="rtlDirection ? 'rtl' : 'ltr'"
     [ngClass]="rtlDirection ? 'margin-l-auto' : 'margin-r-auto'"
     class="box pos-rel width-150 mat-elevation-z1 text-center round-corner height-40 cursor-pointer overflow-hide">
  <button (click)="changeStatus()"
          *ngIf="userCurrentStatus && !userCurrentStatus.end_time; else changeViewStatus"
          [class]="'status-' + userCurrentStatus.status_detail.label.replace(' ', '_').toLocaleLowerCase() + ' blink-effect status-item full-width change-status-btn text-weight-500 line-height-40 full-height font-9-em overflow-hide no-bg mat-elevation-z0 text-dark-mode-color text-gray-800'"
          mat-raised-button>
    <mat-icon
      class="width-20 height-20 font-full-plus-two-tenth-rem text-gray-800 text-dark-mode-color">{{userCurrentStatus.status_detail.icon}}</mat-icon>
    <span
      class="padding-mini-r-l height-40 display-inline-block line-height-20 pos-rel">
      {{rtlDirection ? userCurrentStatus.status_detail.label_fa : userCurrentStatus.status_detail.label}}

      <span *ngIf="currentTimer" [ngClass]="rtlDirection ? 'justify-content-end' : 'justify-content-start'"
            class="line-height-20 display-flex font-9-em" dir="ltr">
        <b class="text-weight-normal width-15">
          {{currentTimer.hours < 10 ? '0' + currentTimer.hours : currentTimer.hours}}
        </b>
        :
        <b class="text-weight-normal width-15">
          {{currentTimer.minutes < 10 ? '0' + currentTimer.minutes : currentTimer.minutes}}
        </b>
        :
        <b class="text-weight-normal width-15">
          {{currentTimer.seconds < 10 ? '0' + currentTimer.seconds : currentTimer.seconds}}
        </b>
      </span>
    </span>
  </button>
  <ng-template #changeViewStatus>
    <button (click)="changeStatus()"
            class="change-status-btn text-gray-800 text-weight-500 full-width line-height-30 font-9-em full-height overflow-hide no-bg mat-elevation-z0 text-dark-mode-color"
            mat-raised-button>
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem text-dark-mode-color text-gray-800">
        sync_problem
      </mat-icon>
      <span class="padding-mini-r-l">{{'status.apply_status' | translate}}</span>
    </button>
  </ng-template>
</div>

<div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'userStatusDashboard'"
     class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height round-corner flex-center z-index-9999">
  <div class="text-center transform-scale-7">
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
          <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        </rect>
      <rect x="10" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s"
                 repeatCount="indefinite"></animate>
        </rect>
      <rect x="20" y="13" width="4" height="5" fill="#333">
          <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s"
                   repeatCount="indefinite"></animate>
        <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s"
                 repeatCount="indefinite"></animate>
        </rect>
      </svg>
  </div>
</div>
