<div class="component-content full-width full-height pos-abs left-0 right-0 top-0">
  <div class="title-container height-55 overflow-hide" style="-webkit-app-region: drag">
    <h1 class="no-margin line-height-55 padding-r-l full-height font-full-em">لیست کاربران</h1>
  </div>
  <div class="content-container padding-r-l">
    <button mat-raised-button (click)="takeAScreenShot()">
      گرفتن عکس از صفحه
    </button>

    <button mat-raised-button (click)="closeApp()">بستن برنامه</button>

    <button mat-raised-button (click)="openWebView()">Web View</button>

    <br>

    <label style="width: 100%; clear: both;">
      {{message}}
    </label>

    <webview #webFrame style="border: solid 1px red; display:inline-flex; width:640px; height:480px"></webview>

  </div>
</div>
