@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/timegrid/main.min.css';

.calendar-switcher {
  width: fit-content;
}

.fc-day-number {
  padding: 5px !important;
}

.fc-view {
  .fc-event, .fc-event-dot {
    border: none !important;
    margin: 3px 10px !important;
    border-radius: 5px !important;
    color: #fff !important;
    padding: 3px 9px !important;
    font-size: 13px !important;
    cursor: pointer;
    /*
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    */
  }
}

/* fullcalendar*/
.fc {
  font-family: inherit !important;
}

.ca-rtl {
  .fc-toolbar, .fc-content, .fc-button-group {
    direction: rtl !important;
  }
}

.ca-ltr {
  .fc-toolbar, .fc-content, .fc-button-group {
    direction: ltr !important;
  }
}

.fc {
  th {
    text-align: center;
    padding: 5px !important;
  }
}

.fc-button {
  background: none;
  color: #333333;
  border: none;
  margin: 0 !important;
}

.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
  border-radius: 4px !important;
  background-image: linear-gradient(-20deg, #3949ab 0%, #4fc3f7 100%) !important;
}

.fc-button-primary:hover {
  color: #3949ab;
  background: none;
  border: none;
}

.fc-button-primary:disabled {
  color: #fff !important;
  background: #ccc;
}

.fc-button-primary:not(:disabled):active:focus, .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none !important;
  background: none !important;
  color: #3949ab !important;
}

.fc-day-grid-event {
  .fc-content {
    white-space: normal !important;
    display: flex;

    .fc-title {
      font-size: 11px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      line-height: 20px;
      padding-left: 5px !important;
      padding-right: 5px !important;
      padding-bottom: 5px !important;
    }

    .fc-time {
      display: none;
    }
  }
}

a.fc-more {
  margin: 3px 9px;
  font-size: 0.85em;
  cursor: pointer;
  text-decoration: none;
  background: #eee;
  border-radius: 100%;
  width: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  border: solid 1px #e6e6e6;
  font-weight: bold;
  direction: ltr;
  color: #656565;
}

.width-145 {
  width: 145px !important
}

.right-15 {
  right: 15px;
}

.mat-calendar-body-active {
  background: #cacaca75 !important;
  border-radius: 25px !important;
}
/*.custom-select-search{
  .mat-form-field-flex{
    height: 50px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}*/
