<div
  [dir]="rtlDirection ? 'rtl' : 'ltr'"
  [ngClass]="incomingStatus ? 'top-0' : 'top-full-reverse-percent'"
  class="width-350 height-100 mat-elevation-z5 transition bg-white pos-fix left-0 right-0 margin-auto padding-mini-t-b padding-r-l z-index-9999 round-corner-bottom-left round-corner-bottom-right">
  <mat-list class="soft-phone-user full-width height-50">
    <mat-list-item class="padding-mini-r-l full-height">
      <img [src]="'assets/profileImg/' + (onCallUser ? onCallUser.username : '0') + '.jpg'"
           class="mat-elevation-z2"
           matListAvatar alt=""
           (error)="$event.target.src='assets/profileImg/0.jpg'">
      <h3 class="font-8-rem text-weight-bold" matLine>
        {{onCallUser ? onCallUser.username : currentPhoneNumber}}
      </h3>
    </mat-list-item>
  </mat-list>

  <div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="height-30 display-flex justify-content-end">
    <button (click)="decline_call()"
            class="red-gradient padding-mini-r-l margin-r-l text-white line-height-30 font-9-em overflow-hide text-weight-normal"
            mat-raised-button>
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">phone_disabled</mat-icon>
      <span class="padding-mini-r-l">{{'soft_phone.incoming_call.decline' | translate}}</span>
    </button>

    <button (click)="accept_call()"
            class="green-gradient padding-mini-r-l text-white line-height-30 font-9-em overflow-hide text-weight-normal"
            mat-raised-button>
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">phone_callback</mat-icon>
      <span class="padding-mini-r-l">{{'soft_phone.incoming_call.accept' | translate}}</span>
    </button>
  </div>
</div>
