<div class="float-left">Version: {{version}}</div>
<div class="float-right" *ngIf="currentTasks">
  <div *ngFor="let task of currentTasks" class="float-right">
    <a (click)="showTask(task)">{{task.taskName}}</a>
  </div>
</div>

<!--<div id="notification" *ngIf="notification">
  <p id="message" *ngIf="!message.length"></p>
  <button id="close-button" (click)="closeNotification()">Close</button>

  <button id="restart-button" *ngIf="restartBtn" (click)="restartApp()">Restart</button>
</div>-->
