@import '../../../../assets/mixin';

.hidden {
  display: none;
}

.blink-effect {
  @include transition(all .4s);

  animation: blink-effect 1s infinite linear;
}

@keyframes blink-effect {
  0% {
    color: #888 !important;
  }

  33.33333% {
    color: #f94850;
    box-shadow: 0 2px 4px -1px #ff0844,
    0px 10px 25px -7px #ffb199,
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  100% {
    color: #888;
    box-shadow: none;
  }
}
