<div [dir]="rtlDirection ? 'rtl' : 'ltr'" class="full-height">
  <div *ngIf="wallpaperUrl !== ''; else emptyWallpaperUrl;" class="pos-rel">
    <!--drag & drop file-->
    <div [ngStyle]="{'width': 'calc(160px *' + environment.width / environment.height + ')' }"
         class="height-135 pos-rel margin-auto round-corner monitor-image display-flex justify-content-center overflow-hide"
         style="background-color: blueviolet; height: 100vh; max-height: 160px">

      <img [src]="wallpaperUrl" alt="" class="display-block margin-auto full-height">

      <div *ngIf="showProgress" class="files-list pos-abs bottom-0 full-width z-index-9999" dir="ltr">
        <div *ngFor="let file of files"
             class="single-file display-flex round-corner align-items-center justify-content-center">

          <div class="info">
            <h4 class="name">
              {{ file?.name }}
            </h4>
            <p class="size">
              {{ formatBytes(file?.size) }}
            </p>
            <app-progress [progress]="file?.progress"></app-progress>
          </div>
        </div>
      </div>

      <div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'wallpaper'"
           class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-999">
        <div class="text-center">
          <svg height="30px" id="Layer_1" style="enable-background:new 0 0 50 50;" version="1.1" viewBox="0 0 24 30"
               width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
               y="0px">
        <rect fill="#333" height="5" width="4" x="0" y="13">
          <animate attributeName="height" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
            <rect fill="#333" height="5" width="4" x="10" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
              <animate attributeName="y" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                       values="13; 5; 13"></animate>
        </rect>
            <rect fill="#333" height="5" width="4" x="20" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
              <animate attributeName="y" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                       values="13; 5; 13"></animate>
        </rect>
      </svg>

          <!--<span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>-->
        </div>
      </div>
    </div>

    <div (click)="deleteFile(0)" *ngIf="showDelete" class="delete pos-abs right-0 cursor-pointer">
      <mat-icon class="no-padding line-height-50 full-width full-height font-full-rem-2-plus-half text-green-800">
        replay
      </mat-icon>
    </div>
  </div>

  <ng-template #emptyWallpaperUrl>
    <div (fileDropped)="onFileDropped($event)" appDnd
         class="wallpaper-container full-width height-135 padding-half round-corner bg-white cursor-pointer margin-auto pos-rel text-center">

      <input (change)="fileBrowseHandler($event)" class="pos-abs full-width full-height top-0 left-0 right-0" id="fileDropRef" multiple
             type="file">

      <svg class="icon icon-tabler icon-tabler-cloud-upload" fill="none" height="44" stroke="#009688"
           stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="44"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" stroke="none"></path>
        <path d="M7 18a4.6 4.4 0 0 1 0 -9h0a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"></path>
        <polyline points="9 15 12 12 15 15"></polyline>
        <line x1="12" x2="12" y1="12" y2="21"></line>
      </svg>

      <h6 [ngClass]="rtlDirection ? 'font-9-em' : 'font-full-plus-one-tenth-em'" class="no-margin">
        {{'profileSettings.drag_drop_text1' | translate}}
      </h6>

      <label
        class="margin-t-full display-inline-block cursor-pointer mat-raised-button green-gradient padding-mini-r-l text-white line-height-30 font-9-em text-weight-normal"
        for="fileDropRef">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">add</mat-icon>
        <span class="padding-mini-r-l">{{'profileSettings.drag_drop_text3' | translate}}</span>
      </label>
    </div>
  </ng-template>
  <!--end of drag & drop file-->

  <h6 class="height-35 line-height-35 no-margin font-full-em">
    {{'profileSettings.choose_wallpaper' | translate}} ({{wallpapersPictures.length}} {{'global.items' | translate}})
  </h6>

  <!--wallpaper-->
  <div
    class="display-block height-full-minus-175 custom-mat-dialog-content no-padding overflow-y-auto display-flex flex-direction-row flex-wrap flex-space-between">
    <mat-card (click)="changeWallpaperPhysical(picture.img)" *ngFor="let picture of wallpapersPictures"
              [style.background]="picture.value"
              class="mat-elevation-z1 full-width height-100 wallpaper thirty-width cursor-pointer margin-b-full">
    </mat-card>
  </div>
  <!--end of wallpaper-->
</div>
