.full-page-size {
  width: 90vw;
  height: 90vh;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.dialog-content-container {
  height: calc(100% - 30px);
}

.task-count {
  &.todo {
    color: #F44336;
  }

  &.inProgress {
    color: #eb9f4c;
  }

  &.done {
    color: #388E3C;
  }
}

.right-six-tenth {
  right: .6em !important;
}
