<div *ngIf="form" [dir]="rtlDirection ? 'rtl' : 'ltr'"
     class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <form [formGroup]="form" class="full-height" autocomplete="off">
    <div class="height-full-minus-30 full-width">
      <h1 class="margin-b-full text-gray-800 font-full-em text-weight-500 margin-b-half">
        {{'tasks.task_filter.tasks_filter' | translate}}
      </h1>

      <div class="display-flex margin-r-l-reverse">
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'tasks.task_filter.filter_types' | translate}}</mat-label>
            <mat-select formControlName="type" required tabIndex="1">
              <mat-option *ngFor="let type of filterTypes" [value]="type.typeName" class="font-full-em">
                {{type.textName | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <input class="full-width" formControlName="taskName" matInput placeholder="{{'tasks.form.task_name' | translate}}"
                   tabindex="2" type="text">
            <mat-label>
              {{'tasks.form.task_name' | translate}}
            </mat-label>

            <mat-error *ngIf="!form.get('taskName').valid && form.get('taskName').touched">
              {{'tasks.form.task_name_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse">
        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <mat-label>{{'tasks.form.task_project' | translate}}</mat-label>
            <mat-select formControlName="projectId" tabIndex="3">
              <mat-option *ngFor="let project of projectsList" [value]="project.projectId" class="font-full-em">
                {{project.projectName}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('projectId').valid && form.get('projectId').touched">
              {{'tasks.form.task_project_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="half-width padding-r-l">
          <mat-form-field class="full-width font-9-em">
            <img *ngIf="form.get('adminId').valid"
                 [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                 [src]="'assets/profileImg/'+form.get('userImg').value+'.jpg'"
                 class="width-20 height-20 round-corner-all pos-rel top-three-tenth"
                 matPrefix alt=""
                 (error)="$event.target.src='assets/profileImg/0.jpg'">
            <mat-label>{{'tasks.form.assign_to' | translate}}</mat-label>
            <mat-select formControlName="adminId" tabIndex="4">
              <mat-option *ngFor="let user of usersList" [value]="user.adminId" class="font-full-em">
                <div class="display-flex align-items-center">
                  <img [ngClass]="rtlDirection ? 'margin-l-half' : 'margin-r-half'"
                       [src]="'assets/profileImg/'+user.email+'.jpg'"
                       class="width-20 height-20 round-corner-all pos-rel"
                       matPrefix alt=""
                       (error)="$event.target.src='assets/profileImg/0.jpg'">
                  <span class="line-height-40">{{user.name + ' ' + user.family}}</span>
                </div>
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('adminId').valid && form.get('adminId').touched">
              {{'tasks.form.assign_to_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-b-full">
        <div class="dpDateStartPicker half-width padding-r-l">
          <mat-form-field class="dpDatePicker full-width font-9-em" [dir]="rtlDirection ? 'rtl' : 'ltr'">
            <mat-label>{{'global.from_date' | translate}}</mat-label>
            <input [dpDayPicker]="datePicker"
                   formControlName="dateStart"
                   tabindex="5"
                   autocomplete="off"
                   theme="dp-material" matInput placeholder="" readonly>

            <button (click)="form.get('dateStart').setValue(''); $event.stopPropagation();" *ngIf="form.get('dateStart').touched && form.get('dateStart').value.length"
                    [ngClass]="rtlDirection ? 'float-left' : 'float-right'"
                    aria-label="Clear"
                    class="close-icon pos-rel top-half" mat-button mat-icon-button matSuffix
                    type="button">
              <mat-icon>close</mat-icon>
            </button>

            <mat-error *ngIf="!form.get('dateStart').valid && form.get('dateStart').touched">
              {{'global.date_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="dpDateStopPicker half-width padding-r-l">
          <mat-form-field class="dpDatePicker full-width font-9-em" [dir]="rtlDirection ? 'rtl' : 'ltr'">
            <mat-label>{{'global.to_date' | translate}}</mat-label>
            <input [dpDayPicker]="datePicker"
                   formControlName="dateStop"
                   tabindex="6"
                   autocomplete="off"
                   theme="dp-material" matInput placeholder="" readonly>

            <button (click)="form.get('dateStop').setValue(''); $event.stopPropagation();" *ngIf="form.get('dateStop').touched && form.get('dateStop').value.length"
                    [ngClass]="rtlDirection ? 'float-left' : 'float-right'"
                    aria-label="Clear"
                    class="close-icon pos-rel top-half" mat-button mat-icon-button matSuffix
                    type="button">
              <mat-icon>close</mat-icon>
            </button>

            <mat-error *ngIf="!form.get('dateStop').valid && form.get('dateStop').touched">
              {{'global.date_error' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="display-flex margin-r-l-reverse margin-t-full-2">
        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            formControlName="percentageStatus">
            <span class="font-9-em">{{'tasks.task_filter.in_progress_tasks' | translate}}</span>
          </mat-slide-toggle>
        </div>

        <div class="half-width padding-r-l">
          <mat-slide-toggle
            [color]="'primary'"
            formControlName="status">
            <span class="font-9-em">{{'tasks.task_filter.show_disabled_task' | translate}}</span>
          </mat-slide-toggle>
        </div>
      </div>
    </div>

    <div class="height-30 full-width display-flex flex-direction-row-reverse">
      <button [disabled]="!form.valid && form.touched"
              (click)="submit()"
              class="green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
              mat-raised-button
              tabindex="13"
              type="submit">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
        <span class="padding-mini-r-l">{{'global.submit' | translate}}</span>
      </button>

      <button (click)="dialogRef.close(false)"
              class="no-bg no-border cursor-pointer text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal"
              type="button">
        <span class="padding-mini-r-l">{{'global.dismiss' | translate}}</span>
      </button>
    </div>
  </form>

  <div *ngIf="loadingIndicator.status && loadingIndicator.serviceName === 'taskFilter'"
       class="loading-container pos-abs top-0 left-0 bottom-0 right-0 full-width full-height flex-center z-index-9999">
    <div class="text-center">
      <svg height="30px" id="Layer_1" style="enable-background:new 0 0 50 50;" viewBox="0 0 24 30"
           width="24px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
        <rect fill="#333" height="5" width="4" x="0" y="13">
          <animate attributeName="height" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="10" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.15s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
        <rect fill="#333" height="5" width="4" x="20" y="13">
          <animate attributeName="height" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="5;21;5"></animate>
          <animate attributeName="y" attributeType="XML" begin="0.3s" dur="0.6s" repeatCount="indefinite"
                   values="13; 5; 13"></animate>
        </rect>
      </svg>

      <span class="display-block font-8-em text-gray-700">{{'global.loading' | translate}}</span>
    </div>
  </div>
</div>
