<div *ngIf="form" class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <form [formGroup]="form" (submit)="submit()" class="full-height">
    <div class="dialog-content-container float-right full-width">
      <h1 class="margin-b-full text-right font-full-em text-weight-500">{{data.action === 'detail' ? 'ویرایش تسک' : 'افزودن تسک'}}</h1>

      <div class="row margin-b-full">
        <div class="col-md-3 float-left">
          <button *ngIf="data.action === 'detail'"
                  (click)="deleteTask()"
                  type="button"
                  matTooltip="حذف تسک"
                  matTooltipPosition="below"
                  class="no-border cursor-pointer margin-r-full no-bg text-center width-25 height-25 line-height-25 text-red-400 no-padding">
            <mat-icon>delete</mat-icon>
          </button>

          <button *ngIf="data.action === 'detail' && !editable" type="button"
                  (click)="editableForm(true)"
                  matTooltip="ویرایش تسک"
                  matTooltipPosition="below"
                  class="no-border cursor-pointer margin-r-full no-bg text-center width-25 height-25 line-height-25 text-green-400 no-padding">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="col-md-9 float-right" dir="rtl">
          <mat-form-field class="full-width font-8-em">
            <input matInput placeholder="نام تسک" class="full-width" type="text"
                   formControlName="taskName" required tabindex="1">
            <mat-label>
              نام تسک
            </mat-label>

            <mat-error *ngIf="!form.get('taskName').valid && form.get('taskName').touched">
              لطفا نام تسک را وارد نمایید
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row margin-b-full" dir="rtl">
        <div class="col-md-6 float-right">
          <mat-form-field class="full-width font-8-em">
            <mat-label>وضعیت</mat-label>
            <mat-select formControlName="boardStatus" tabIndex="2" (selectionChange)="changeBoardStatus($event)">
              <mat-option *ngFor="let board of boardsList" [value]="board.id">
                <span class="task-count" [ngClass]="board.id">{{board.name}}</span>
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('boardStatus').valid && form.get('boardStatus').touched">
              لطفا وضعیت را مشخص نمایید
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 float-right no-padding-r-l">
          <div class="font-8-em pos-abs top-nine-tenth right-six-tenth">درصد پیشبرد
            <span>{{form.get('percentage').value}}</span> ٪
          </div>
          <mat-slider
            class="full-width no-padding-r-l pos-rel top-half"
            formControlName="percentage"
            [max]="100"
            [min]="0"
            [step]="5"
            [thumbLabel]="true"
            [tickInterval]="2" tabindex="3">
          </mat-slider>
        </div>
      </div>

      <div class="row margin-b-full" dir="rtl">
        <div class="col-md-6 float-right">
          <mat-form-field class="full-width font-8-em">
            <mat-label>پروژه</mat-label>
            <mat-select formControlName="project" tabIndex="4">
              <mat-option *ngFor="let project of projectsList" [value]="project">
                {{project.projectName}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('project').valid && form.get('project').touched">
              لطفا پروژه را مشخص نمایید
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 float-right">
          <mat-form-field class="full-width font-8-em">
            <img matPrefix
                 [srcset]="'./assets/profileImg/'+form.get('assignTo').value.adminId +'.jpg'"
                 class="width-20 height-20 round-corner-all margin-l-half pos-rel top-three-tenth">
            <mat-label>مسئول انجام تسک</mat-label>
            <mat-select formControlName="assignTo" tabIndex="5">
              <mat-option *ngFor="let user of usersList" [value]="user">
                <img matPrefix
                     class="width-20 height-20 round-corner-all margin-l-half pos-rel top-six-tenth"
                     [srcset]="'./assets/profileImg/'+ user.adminId +'.jpg'">
                {{user.name + ' ' + user.family}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('assignTo').valid && form.get('assignTo').touched">
              لطفا مسئول را مشخص نمایید
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row margin-b-full" dir="rtl">
        <div class="col-md-6 float-right">
          <mat-form-field class="full-width font-8-em">
            <input matInput placeholder="مدت زمان کل(ساعت)" class="full-width" type="number"
                   formControlName="taskDurationHours" required tabindex="6">
            <mat-label>
              مدت زمان کل(ساعت)
            </mat-label>

            <mat-error *ngIf="!form.get('taskDurationHours').valid && form.get('taskDurationHours').touched">
              لطفا مدت انجام را مشخص نمایید
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6 float-right">
          <mat-form-field class="full-width font-8-em">
            <mat-label>مدت زمان کل(دقیقه)</mat-label>
            <mat-select formControlName="taskDurationMinutes" tabIndex="7">
              <mat-option *ngFor="let minute of durationMinute" [value]="minute">
                {{minute + (minute ? ' ' + 'دقیقه' : '')}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row margin-b-full" dir="rtl">
        <div class="col-md-3 float-right">
          <mat-form-field class="full-width font-8-em">
            <mat-label>تاریخ شروع</mat-label>
            <input matInput [matDatepicker]="picker1" readonly
                   (focus)="picker1.open()" (click)="picker1.open()"
                   (dateChange)="dateToGregorian('startAt', $event)"
                   formControlName="startAt" tabindex="8">
            <mat-datepicker #picker1></mat-datepicker>

            <mat-error *ngIf="!form.get('startAt').valid && form.get('startAt').touched">
              لطفا تاریخ شروع را انتخاب نمایید
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3 float-right">
          <mat-form-field class="full-width font-8-em">
            <mat-label>ساعت شروع تسک</mat-label>
            <mat-select formControlName="startTime" tabIndex="9">
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('startTime').valid && form.get('startTime').touched">
              لطفا ساعت شروع را انتخاب نمایید
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-3 float-right">
          <mat-form-field class="full-width font-8-em">
            <mat-label>تاریخ اتمام</mat-label>
            <input matInput [matDatepicker]="picker2" readonly
                   (focus)="picker2.open()" (click)="picker2.open()"
                   (dateChange)="dateToGregorian('stopAt', $event)"
                   formControlName="stopAt" tabindex="10">
            <mat-datepicker #picker2></mat-datepicker>

            <mat-error *ngIf="!form.get('stopAt').valid && form.get('stopAt').touched">
              لطفا تاریخ اتمام را انتخاب نمایید
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3 float-right">
          <mat-form-field class="full-width font-8-em">
            <mat-label>ساعت اتمام تسک</mat-label>
            <mat-select formControlName="stopTime" tabIndex="11">
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{hour}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="!form.get('stopTime').valid && form.get('stopTime').touched">
              لطفا ساعت اتمام را انتخاب نمایید
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row margin-b-full" dir="rtl">
        <div class="col-md-12">
          <mat-form-field class="full-width font-8-em">
            <mat-label>توضیح تسک</mat-label>
            <textarea matInput formControlName="taskDesc" placeholder="توضیح تسک" tabindex="12"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="ro  w margin-b-full" dir="rtl">
        <div class="col-md-12">
          <mat-slide-toggle
            formControlName="trackable"
            class="example-margin"
            [color]="'primary'">
            قابل ردیابی توسط اپ موبایل
          </mat-slide-toggle>
        </div>
      </div>
    </div>

    <div class="dialog-buttons height-30 float-right full-width" dir="rtl">
      <button mat-raised-button
              *ngIf="editable"
              [disabled]="!form.valid"
              type="submit"
              tabindex="13"
              class="green-gradient float-left text-white line-height-30 font-9-em overflow-hide text-weight-normal">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">check</mat-icon>
        <span class="padding-mini-r-l">ثبت</span>
      </button>

      <button (click)="cancelBtn()"
              type="button"
              class="no-bg no-border cursor-pointer float-left text-red-500 line-height-30 font-9-em overflow-hide text-weight-normal">
        <span class="padding-mini-r-l">انصراف</span>
      </button>
    </div>
  </form>
</div>
