:host {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.content-switcher {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
}

.full-page-size {
  width: 100vw;
  height: 90vh;
  max-width: 100%;
  max-height: 100%;
}

.task-heading {
  border-bottom: solid 1px #e1e1e1;

  h1 {
    max-width: 450px;
  }
}

.task-form-container, .task-report-container {
  width: 65%;
}

.task-todo-container, .task-activity-container {
  width: 35%;
  background-color: #f5f5f5;
}

.task-file-container {
  height: 155px;
  border-top: solid 1px #ddd;
  background-color: #eee;
}

// breadcrumb
.breadcrumb-container {
  background-color: #f5f5f5;
}

.breadcrumb {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: .75rem 0;
  margin-bottom: 0;
  font-size: .9375rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0;

  .breadcrumb-item {
    white-space: nowrap;
    font-size: .9375rem;
    display: -webkit-box;
    display: flex;
    cursor: pointer;

    &.active {
      cursor: default;
      color: #e4a786 !important;
    }
  }

  .breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #e65100;
    content: "/";
  }
}
// end breadcrumb
