<div class="full-page-size overflow-hide">
  <div class="task-heading clear-both full-width height-45">
    <h1 dir="rtl"
      class="no-margin float-right height-45 line-height-45 font-full-plus-one-tenth-em text-eclipse padding-r-l text-pink-600 text-weight-500">
      <span class="text-gray-700">#{{form.get('taskId').value}}</span> {{form.get('taskName').value}}
    </h1>

    <div class="task-detail-view-switcher pos-abs right-0 left-0 margin-auto width-150 height-45">
      <mat-button-toggle-group #viewMode="matButtonToggleGroup" dir="rtl"
                               (change)="changeViewMode(viewMode.value)"
                               [ngClass]="{'view-mode': viewMode}"
                               class="full-width mat-button-custom line-height-20 round-corner-all margin-t-half"
                               [value]="viewModeTypes">
        <mat-button-toggle class="overflow-hide half-width font-7-rem line-height-20 height-30" [value]="'info'">
          <span>اطلاعات کلی</span>
        </mat-button-toggle>
        <mat-button-toggle class="overflow-hide half-width font-7-rem line-height-20 height-30" [value]="'report'">
          <span>گزارشات</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="task-detail-actions float-left">
      <button (click)="cancelBtn(true)"
              type="button"
              class="no-border float-left cursor-pointer no-bg text-center width-45 height-45 text-gray-600 no-padding">
        <mat-icon class="line-height-30">close</mat-icon>
      </button>

      <button *ngIf="viewModeTypes === 'info'" (click)="deleteTask()"
              type="button"
              class="no-border float-left cursor-pointer no-bg text-center width-45 height-45 text-red-400 no-padding">
        <mat-icon class="line-height-30">delete</mat-icon>
      </button>

      <button *ngIf="viewModeTypes === 'info'" type="button"
              (click)="editableForm()"
              class="no-border float-left cursor-pointer no-bg text-center width-45 height-45 text-green-400 no-padding">
        <mat-icon class="line-height-30">edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="full-width full-height" *ngIf="viewModeTypes === 'info'; else reportView">
    <div *ngIf="form" class="task-form-container float-right padding-full overflow-hide pos-rel">
      <app-task-form
        (cancel)="cancelBtn($event)"
        (formOutput)="updateForm($event)"
        [data]="data"
        [form]="form"
        [editable]="editable"></app-task-form>
    </div>

    <div class="task-todo-container padding-r-l padding-mini-t-b float-left pos-rel">
      <app-task-todo [taskId]="task.taskId"></app-task-todo>
    </div>

    <div class="task-file-container padding-r-l padding-mini-t-b clear-both full-width pos-rel">
      <app-task-files></app-task-files>
    </div>
  </div>

  <ng-template #reportView>
    <div class="full-width full-height">
      <div class="task-report-container padding-r-l padding-mini-t-b float-right pos-rel">
        <app-task-report [taskId]="task.taskId" [usersList]="usersList"></app-task-report>
      </div>

      <div class="task-activity-container height-full-minus-45 padding-r-l padding-mini-t-b float-left pos-rel">
        <app-task-activity [task]="task"></app-task-activity>
      </div>
    </div>
  </ng-template>
</div>
