<div class="datepicker-popover datepicker-container mat-elevation-z1 padding-full round-corner"
     [ngClass]="rtlDirection ? 'float-right' : 'float-left'"
     [dir]="rtlDirection ? 'rtl' : 'ltr'">
    <mat-calendar *ngIf="events != null" (selectedChange)="onSelect($event)" [dateClass]="dateClass()"></mat-calendar>
    <mat-list>
        <div mat-subheader>{{'dashboard.dashboard_toolbar.reminder' | translate}}</div>
        <div *ngIf="reminders != null">
            <mat-list-item *ngFor="let item of reminders.slice(0, 3)">
                <mat-icon class="font-full-plus-three-tenth-em" mat-list-icon>access_alarm</mat-icon>
                <div mat-line class="font-6-em">{{item.description}}</div>
                <div mat-line class="font-6-rem">{{item.startdate_format}} - {{item.enddate_format}}</div>
            </mat-list-item>
        </div>
    </mat-list>
    <button mat-raised-button (click)="openEventHandler()"
            class="full-width padding-mini-r-l line-height-30 font-9-em overflow-hide text-weight-normal">
        <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">more</mat-icon>
        <span class="padding-mini-r-l">{{'events_handler.main.see_more' | translate}}</span>
    </button>

    <section class="custom-popover mat-elevation-z4 round-corner">
        <mat-nav-list>
            <a (click)="showEventHandlerWindow(item , $event)" mat-list-item *ngFor="let item of eventTemp; last as last">
                <mat-icon class="padding-r-half" mat-list-icon>calendar_today</mat-icon>
                <h5 mat-line>{{item.name}}</h5>
                <p mat-line class="demo-2">{{item.sTime}} - {{item.eTime}}</p>
                <mat-divider class="full-width" [inset]="true" *ngIf="!last"></mat-divider>
            </a>
        </mat-nav-list>
    </section>
</div>
