@import 'assets/extension';
@import 'assets/iranSans';
@import 'assets/grid';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;

  $font-name: 'IranSans';

  $custom-typography: mat-typography-config(
    $font-family: $font-name
  );

  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    font-family: $font-name !important;
  }

  @include angular-material-typography($custom-typography);
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &, &::before, &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

a {
  text-decoration: none !important;
}

:focus {
  outline: none;
}

.title-container {
  background-color: #FFF;
  -webkit-box-shadow: 0 3px 1px -2px rgba(247, 247, 247, 0.2), 0 2px 2px 0 rgba(226, 226, 226, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(247, 247, 247, 0.2), 0 2px 2px 0 rgba(226, 226, 226, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(247, 247, 247, 0.2), 0 2px 2px 0 rgba(226, 226, 226, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  h1 {
    font-weight: 300;
  }
}

.content-container {
  height: calc(100% - 110px);
  overflow: auto;
  background-color: #f1f1f1;
}

.mat-tab-label {
  min-width: 60px !important;
  height: 35px !important;
  padding: 0 1em !important;
  align-items: start !important;
}

.mat-ink-bar {
  background-color: #616161 !important;
}

/* todo: active sidebar link */
.active-sidebar-link {
}

.mat-dialog-container {
  padding: 0 !important;
  position: relative;
  overflow: hidden !important;
}

.current-task-container {
  border-top: solid 1px #DDD;
}

.cdk-overlay-container {
  border-radius: 1.7em;
  overflow: hidden;

  /*.cdk-global-overlay-wrapper {
    direction: rtl;
    justify-content: center !important;
  }*/
}

.mat-snack-bar-container {
  min-width: inherit !important;
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.mat-select-disabled .mat-select-value {
  color: #333 !important;
}

.mat-tab-nav-bar, .mat-tab-header {
  border: 0 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen, .minimized {
  direction: rtl;

  &.task_management_system {
    nb-card-header {
      color: #FFF;
      background-image: linear-gradient(120deg, #bb51a9 0%, #513162 100%);
    }
  }

  &.conference_system {
    nb-card-header {
      color: #FFF;
      background-image: linear-gradient(315deg, #09203f 0%, #537895 74%);
    }
  }

  &.crm_system {
    nb-card-header {
      color: #FFF;
      background-image: linear-gradient(135deg, #ff9a44 10%, #fc6076 100%);
    }
  }

  &.chat_system {
    nb-card-header {
      color: #FFF;
      background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    }
  }
}

nb-window:not(.full-screen) {
  margin: 0 .5rem !important;
}

.full-screen {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  transform: translate(0, 0) !important;
  width: 100%;
  height: 100%;
}

.nb-theme-default nb-layout .layout {
  background: none;
}

.mat-grid-tile {
  overflow: visible !important;
}

.nb-theme-default {
  nb-card {
    font-family: inherit;
    height: 100%;
    border: none;
    background: none;
  }

  nb-icon svg {
    cursor: pointer !important;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
  }

  nb-card-header {
    font-family: inherit;
    padding: .5rem 0;

    .title {
      margin-right: 1em !important;
    }

    .buttons {
      width: 80px !important;

      button {
        color: #333 !important;
        padding: 0 !important;
        width: 18px;
        height: 18px;
        flex: none !important;
        border-radius: 100% !important;
        line-height: 21px !important;
        background-color: #FFF !important;

        &:hover {
          background-color: transparent;
          border-color: transparent;
          color: #FFF;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  nb-card-body {
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
  }
}

.mat-card-header-text {
  margin: 0 !important;
}
.mat-button-toggle-group {
  background-color: $light-primary-text;
  width: 200px !important;
}


.mat-button-toggle {
  width: $half-size;

  .mat-button-toggle-label,
  .mat-button-toggle-label-content {
    height: $full-size;
    margin: 0;
    position: relative;
    text-align: center;
    top: -1px;
    width: $full-size;

    span {
      display: block;
      font-size: .8em;
      height: $full-size;
      line-height: 30px;
      width: $full-size;
    }
  }
}
%mat-button-toggle-checked {
  @include rounded(30px);

  color: $light-primary-text;
}

.mat-button-toggle-checked {
  @extend %mat-button-toggle-checked;

  background-image: -webkit-linear-gradient(-20deg, map_get($mat-indigo, 600) 0%, map_get($mat-light-blue, 300) 100%);
  background-image: linear-gradient(-20deg, map_get($mat-indigo, 600) 0%, map_get($mat-light-blue, 300) 100%);
}

.mat-button-toggle-checked.text-white,
.mat-button-toggle-checked .mat-icon.text-white {
  color: $dark-primary-text !important;
}

.mat-button-toggle-button {
  height: $full-size;
  width: $full-size;
}

.mat-button-toggle-label-content {
  height: $full-size;
  line-height: 30px !important;
  position: relative;
  width: $full-size;
  z-index: 1;
}


.mat-button-toggle-checked {
  @extend %mat-button-toggle-checked;

  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
  color: $light-primary-text !important;
  background-image: -webkit-linear-gradient(-20deg, map_get($mat-purple, 900) 0%, map_get($mat-purple, 200) 100%);
  background-image: linear-gradient(-20deg, map_get($mat-purple, 900) 0%, map_get($mat-purple, 200) 100%);
}

.mat-button-toggle {
  width: $half-size;
  border: 0 !important;
}

.cdk-overlay-pane {
  -webkit-transition: height .1s;
  -moz-transition: height .1s;
  -ms-transition: height .1s;
  -o-transition: height .1s;
  transition: height .1s;
}

.mat-card-header-text {
  width: 100%;
}

.mat-progress-spinner {
  &.spinner-color-red {
    circle {
      stroke: #f44336 !important;
    }
  }
  &.spinner-color-redorange {
    circle {
      stroke: #f46b2b !important;
    }
  }
  &.spinner-color-orange {
    circle {
      stroke: #ffc349 !important;
    }
  }
  &.spinner-color-lightgreen {
    circle {
      stroke: #7dff6d !important;
    }
  }
  &.spinner-color-green {
    circle {
      stroke: #23943b !important;
    }
  }
}
