@import 'assets/extension';
@import 'assets/fonts/iranSans/iranSans';
@import 'assets/fonts/roboto/roboto';
@import 'assets/grid';

:host {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%border-light {
  border: solid 1px rgba(255, 255, 255, .93);
}

%border-dark {
  border: solid 1px rgba(60, 60, 60, .8);
}

%before-light-bg {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .95);
  filter: blur(8px);
  transform: scale(1.5);
  z-index: -1;
}

%before-dark-bg {
  background-color: rgba(30, 30, 30, .8);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;

  &.direction-en {
    $font-name: 'Roboto';

    $custom-typography: mat-typography-config(
      $font-family: $font-name
    );

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      margin: 0;
      font-family: $font-name;
    }

    @include angular-material-typography($custom-typography);
  }

  &.direction-fa {
    $font-name: 'IranSans';

    $custom-typography: mat-typography-config(
      $font-family: $font-name
    );

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      margin: 0;
      font-family: $font-name;
    }

    @include angular-material-typography($custom-typography);
  }
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &, &::before, &::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

a {
  text-decoration: none !important;
}

:focus {
  outline: none;
}

.window-dialog {
  position: relative;
  -webkit-transition: width, height .05s;
  -moz-transition: width, height .05s;
  -o-transition: width, height .05s;
  transition: width, height .05s;
  max-width: inherit !important;
}

.window-dialog.minimized {
  width: 0 !important;
  height: 0 !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.window-dialog.maximized {
  width: 100% !important;
  height: calc(100% - 75px) !important;
  max-width: 100% !important;
  transform: translate3d(0, -40px, 0px) !important;
  margin: inherit !important;
  margin-top: 0 !important;

  .mat-dialog-container {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 0 3px -15px rgba(0, 0, 0, 0.2), 0 5px 20px 1px rgba(0, 0, 0, 0.14), 0 0 4px 8px rgba(0, 0, 0, 0.12);
  }

  .window-title {
    touch-action: none !important;
    -webkit-user-drag: none !important;
    -webkit-tap-highlight-color: transparent !important;
    user-select: none !important;
  }
}

.window-heading {
  border-bottom: solid 1px rgba(220, 220, 220, 0.93);

  &.flex-direction-row {
    .window-title {
      margin-right: auto;
    }
  }

  &.flex-direction-row-reverse {
    .window-title {
      margin-left: auto;
    }
  }
}

.mat-dialog-container {
  @extend %border-light;

  padding: 0 !important;
  position: relative;
  overflow: hidden !important;
  background: none;

  &::before {
    @extend %before-light-bg;
  }
}

.window-content {
  @extend %height-full-minus-45;
}

.title-container {
  background-color: #FFF;
  box-shadow: 0 3px 1px -2px rgba(247, 247, 247, 0.2), 0 2px 2px 0 rgba(226, 226, 226, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  h1 {
    font-weight: 300;
  }
}

.content-container {
  overflow: auto;
  background-color: #f1f1f1;
}

.mat-tab-label {
  min-width: 60px !important;
  height: 35px !important;
  padding: 0 1em !important;
  align-items: start !important;
}

.mat-ink-bar {
  background-color: #616161 !important;
}

.current-task-container {
  border-top: solid 1px #DDD;
}

.cdk-overlay-container {
  overflow: hidden;

  /*.cdk-global-overlay-wrapper {
    direction: rtl;
    justify-content: center !important;
  }*/
}

.mat-snack-bar-container {
  min-width: inherit !important;

  &.error {
    background-color: #d32f2f !important;
  }

  &.success {
    background-color: #388e3c !important;
  }
}

/*.mat-input-element {
  height: 100% !important;
} todo */

.mat-select-value {
  height: 20px !important;
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.mat-select-disabled .mat-select-value {
  color: #333 !important;
}

.mat-tab-nav-bar, .mat-tab-header, .mat-tab-labels, .mat-tab-label {
  height: 100% !important;
  border: 0 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-grid-tile {
  overflow: visible !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-header-text {
  width: 100%;
}

.mat-progress-spinner {
  &.spinner-color-red {
    circle {
      stroke: #f44336 !important;
    }
  }

  &.spinner-color-redorange {
    circle {
      stroke: #f46b2b !important;
    }
  }

  &.spinner-color-orange {
    circle {
      stroke: #ffc349 !important;
    }
  }

  &.spinner-color-lightgreen {
    circle {
      stroke: #7dff6d !important;
    }
  }

  &.spinner-color-green {
    circle {
      stroke: #23943b !important;
    }
  }
}

.mat-bottom-sheet-container {
  padding: 0 !important;
  max-width: calc(100vw - 190px) !important;
  max-height: 85vh !important;
}

%mat-button-toggle-checked {
  @include rounded(30px);

  color: #FFF;
}

.mat-button-toggle {
  border: none !important;

  .mat-button-toggle-label,
  .mat-button-toggle-label-content {
    height: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    top: -1px;
    width: 100%;

    span {
      display: block;
      font-weight: bold;
      height: 100%;
      line-height: 32px;
      width: 100%;
    }
  }
}

.view-mode {
  .mat-button-toggle-checked {
    @extend %mat-button-toggle-checked;

    background-image: -webkit-linear-gradient(-20deg, #3949ab 0%, #4fc3f7 100%);
    background-image: linear-gradient(-20deg, #3949ab 0%, #4fc3f7 100%);
  }
}

.mat-list-base {
  padding: 0 !important;
}

.mat-list-item-content {
  padding: 0 !important;
}

.cdr-mat-list {
  .mat-list-item-content {
    height: 100% !important;
  }
}

.mat-list-text {
  padding: 0 .5em !important;
}

.mat-form-field-wrapper {
  height: 100%;
}

.mat-form-field-appearance-outline.mat-focused.mat-accent .mat-form-field-outline-thick {
  color: #513162 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 1px !important;
}

.mat-paginator-container {
  justify-content: flex-start !important;
}

// file uploader styles
ngx-file-picker {
  flex-direction: inherit !important;
  max-width: inherit !important;
}

cloud-icon {
  font-size: 35px !important;
  margin: 0 !important;
}

.content-center-text {
  margin: 0 !important;
}

.content-top-text {
  font-size: 1em !important;
}

.file-drop-wrapper {
  padding: .5em !important;
  background-color: transparent !important;
  height: 100% !important;
  width: 50% !important;
  float: left !important;
}

file-preview-item {
  padding: .5em !important;
}

file-preview-container {
  background-color: transparent !important;
}

.files-preview-wrapper {
  width: 50% !important;
  float: right !important;
  height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.file-browse-button {
  padding: 10px 20px !important;
  background: #0f6e5d !important;
  font-size: 12px !important;
  margin-top: .5em !important;
}

.cloud-upload-icon {
  border-left: .0625em solid #0f6e5d !important;
  border-top: .0625em solid #0f6e5d !important;
  border-bottom: .0625em solid #0f6e5d !important;

  &::before {
    border-right-color: #0f6e5d !important;
    border-top-color: #0f6e5d !important;
    border-bottom-color: #0f6e5d !important;
  }

  &::after {
    background-color: #0f6e5d !important;
  }

  i {
    &::before {
      background-color: #0f6e5d !important;
    }

    &::after {
      border-top-color: #0f6e5d !important;
      border-right-color: #0f6e5d !important;
    }
  }
}

#dropZone, file-drop {
  height: 100% !important;
  padding: 0 !important;
}

.file-preview-wrapper {
  .file-upload-error-wrapper {
    background-color: transparent !important;
  }

  .file-preview-thumbnail {
    .img-preview-thumbnail, .other-preview-thumbnail {
      width: 30px !important;
      height: 30px !important;
    }

    .thumbnail-backdrop {
      background-color: transparent !important;
    }
  }

  .file-preview-description {
    padding: 0 .5em !important;

    .file-preview-title p {
      text-align: left !important;
    }

    .file-preview-size {
      position: relative !important;
      top: -5px !important;
    }
  }

  .file-preview-actions .ngx-close-icon-wrapper {
    position: relative;
    top: -3px;
    left: -3px;
  }
}

.ngx-close-icon {
  width: .5em !important;
  height: .5em !important;
}

.upload-refresh-icon {
  margin-left: 0;
  margin-top: -5px;

  &::before {
    top: 10px;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    @extend %before-light-bg;
  }

  .mat-icon {
    color: #000;
  }
}

.mat-menu-panel {
  margin-bottom: 1em;

  &.toolbar-menu {
    position: relative;
    background: none;
    overflow: hidden;

    &::before {
      @extend %before-light-bg;
    }
  }

  &.main-menu {
    width: 250px;
  }

  &.time-area-menu {
    width: 300px;
  }

  &.box-menu-profile {
    width: 200px;
  }
}

.dark-mode {
  .text-dark-mode-color {
    color: #FFF !important;
  }

  .box {
    &::before {
      @extend %before-dark-bg;
    }
  }

  .mat-menu-panel.toolbar-menu {
    &::before {
      @extend %before-dark-bg;
    }
  }

  .window-dialog {
    .mat-dialog-container {
      @extend %border-dark;

      &::before {
        @extend %before-dark-bg;
      }
    }
  }

  .window-heading {
    border-bottom: solid 1px rgba(0, 0, 0, .8);
  }
}

.direction-en {
  .toolbar-container .box-holder {
    &:last-child, .app-open:last-child {
      margin-right: 0 !important;
    }

    &:first-child, .app-open:first-child {
      margin-left: 0 !important;
    }
  }
}

.direction-fa {
  .toolbar-container .box-holder {
    &:last-child, .app-open:last-child {
      margin-left: 0 !important;
    }

    &:first-child, .app-open:first-child {
      margin-right: 0 !important;
    }
  }
}

.soft-phone-tab {
  .mat-tab-label-content {
    flex-direction: column;
  }

  .mat-tab-labels {
    justify-content: space-between;
    padding: .3em 0;
  }

  .mat-tab-label-active {
    color: #1a71eb;
  }

  .mat-ink-bar {
    background-color: #1a71eb !important;
  }
}
.mat-slider-horizontal .mat-slider-thumb-label{
  top: -33px !important;
}
.clock-plus{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #555;
  position: relative;
  box-shadow: 2px 6px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f6f6f6;
  position: relative;
  border: 5px solid #e6e6e6;
  box-shadow: 2px 6px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    z-index: 20;
  }
}

.hands {
  content: '';
  background-color: #333;
  width: 2px;
  transform-origin: bottom;
  position: absolute;
  left: calc(50% - 1px);
  bottom: 50%;
  transform: translateX(-50%);
  outline: 1px solid transparent;
}

.hours {
  height: 30%;
  transform: rotate(0deg);
}

.minutes {
  height: 40%;
  transform: rotate(0deg);
}

.seconds {
  height: 40%;
  background-color: #c01f20;
  transform: rotate(0deg);
  transition: transform .1s cubic-bezier(.17,.67,.83,1.93);
  z-index: 10;
}

.seconds-indicator {
  position: absolute;
  bottom: 50%;
  left: calc(50% - 1px);
  width: 1px;
  height: 50%;
  background-color: transparent;
  transform-origin: bottom;
  border-top: 0 solid #333;
  box-sizing: border-box;

  &--fifth {
    border-top-width: 1px;
  }
}

.no-transition {
  transition-duration: 0s;
}

.loading-container {
  background-color: rgba(255, 255, 255, .8);

  svg path,
  svg rect{
    fill: #f57c00;
  }
}

// Fullcalendar stylesheets
.fc-view-container {
  background-color: #fff;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: .5em !important;
}

.fc-toolbar h2 {
  font-size: 1.2em !important;
}

.fc-toolbar h2 {
  font-size: 1em !important;
}

.fc-widget-header {
  font-size: .9em !important;
}

.soft-phone-status.mat-checked .mat-slide-toggle-thumb {
  background-color: #40b252;
}

.soft-phone-status.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(78, 192, 96, 0.47);
}

.soft-phone-status.mat-checked .mat-ripple-element {
  background-color: #4CAF50;
}

.datepicker-container{
  width: 222px !important;
  color: #333;
}

.holiday-date{
  background-color: #f1f1f1 !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.6);
}
