@import '../../../../assets/mixin';

:host {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.soft-phone-user {
  border-bottom: solid 1px rgba(220, 220, 220, 0.93);
  background-color: #f1f1f1;
}

.user-soft-phone-status {
  &::before {
    @include radius-all();

    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  &.online {
    &::before {
      background-color: #4ec060;

      animation: blink-online-user-light 1s infinite linear;
    }
  }

  &.offline {
    &::before {
      background-color: #c30;
    }
  }
}

.online-user {
  box-shadow: 0 0 0 2px transparent;

  &.active {
    box-shadow: 0 0 0 2px #4ec060;

    animation: blink-online-user 1s infinite linear;
  }
}

@keyframes blink-online-user {
  0% {
    box-shadow: 0 0 0 2px #4ec060;
  }
  33.33333% {
    box-shadow: 0 0 0 2px #a6c09e;
  }
  100% {
    box-shadow: 0 0 0 2px #4ec060;
  }
}

@keyframes blink-online-user-light {
  0% {
    background-color: #4ec060;
  }
  33.33333% {
    background-color: #a6c09e;
  }
  100% {
    background-color: #4ec060;
  }
}

.highlight {
  @include transition(background .4s);

  &:hover {
    background-color: #f1f1f1;
  }

  &:not(:last-child) {
    border-bottom: solid 1px rgba(220, 220, 220, .5);
  }
}
