.mat-drawer-container {
  color: #333;
  height: 100%;
  background-color: #f1f1f1;

  .mat-drawer {
    color: #333;
    width: 250px;
  }
}

.container-wallpaper {
  .mat-tab-label {
    height: 48px !important;
    line-height: 3rem;
  }

  .top-container {
    height: 56px;
  }

  .mat-dialog-content {
    height: calc(#{100%} - #{56px});
  }

  .mat-tab-body-content {
    padding-top: 1em !important;
  }
}

.wallpaper {
  background-position: center center !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.wallpaper-item {
  bottom: 1em;
  position: absolute;
}


