<mat-drawer-container autosize class="rate-calendar" id="rate-container">
    <mat-drawer #drawer mode="side">
        <div class="padding-full text-white">
            <div class="datepicker-container padding-full round-corner"
                 [ngClass]="rtlDirection ? 'float-right' : 'float-left'"
                 [dir]="rtlDirection ? 'rtl' : 'ltr'">
                <mat-calendar></mat-calendar>
                <mat-list>
                    <div mat-subheader>یادآوری ها</div>
                    <mat-list-item>
                        <mat-icon class="font-full-plus-three-tenth-rem" mat-list-icon>access_alarm</mat-icon>
                        <div mat-line class="font-6-em">سلام تست من اتست</div>
                        <div mat-line class="font-6-rem"> 1399/01/01</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="font-full-plus-three-tenth-rem" mat-list-icon>access_alarm</mat-icon>
                        <div mat-line class="font-6-em">سلام تست من اتست</div>
                        <div mat-line class="font-6-rem"> 1399/01/01</div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon class="font-full-plus-three-tenth-rem" mat-list-icon>access_alarm</mat-icon>
                        <div mat-line class="font-6-em">سلام تست من اتست</div>
                        <div mat-line class="font-6-rem"> 1399/01/01</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </mat-drawer>
    <div class="padding-full" [ngClass]="rtlDirection ? 'ca-rtl' : 'ca-ltr'">
        <full-calendar #calendar [allDaySlot]="false" [buttonText]="buttonLabels"
                       [dir]="rtlDirection ? 'rtl' : 'ltr'"
                       [displayEventTime]="false"
                       [editable]="false"
                       [eventLimit]="2"
                       [firstDay]="1"
                       [handleWindowResize]="true"
                       [header]="header"
                       [locale]="rtlDirection ? 'fa' : 'en'"
                       [plugins]="calendarPlugins"
                       [slotLabelFormat]="slotLabelFormat"
                       [views]="views"
                       class="float-right w-100"
                       defaultView="dayGridMonth"
                       id="full_calendar">
        </full-calendar>
    </div>
</mat-drawer-container>
