<mat-drawer-container autosize class="event-main-datepicker" [dir]="rtlDirection ? 'rtl' : 'ltr'">
    <mat-drawer #drawer mode="side">
        <div class="padding-full text-white">
            <div class="datepicker-container padding-full round-corner"
                 [ngClass]="rtlDirection ? 'float-right calendar-rtl' : 'float-left'"
                 [dir]="rtlDirection ? 'rtl' : 'ltr'">
                <button mat-raised-button
                        tabindex="15"
                        (click)="loadBottomSheet($event)"
                        class="full-width green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal">
                    <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">add</mat-icon>
                    <span class="padding-mini-r-l">{{'events_handler.main.add_event_title' | translate}}</span>
                </button>
                <mat-calendar #myCalendar [dateClass]="dateClass()" (click)="getPosition($event)" (selectedChange)="onSelect($event)"></mat-calendar>
                <mat-list *ngIf="remindersList.length" class="event-list">
                    <div mat-subheader>{{'dashboard.dashboard_toolbar.reminder' | translate}} <b class="font-7-rem padding-full">{{'events_handler.main.reminder_count' | translate}}: {{remindersList.length}}</b></div>
                    <div>
                        <mat-list-item *ngFor="let item of remindersList">
                            <mat-icon class="font-full-plus-three-tenth-em" mat-list-icon>access_alarm</mat-icon>
                            <div mat-line class="font-8-em">{{item.description}}</div>
                            <div mat-line class="font-8-rem">{{item.startReminder | jalali:rtlDirection}}</div>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
        </div>
    </mat-drawer>
    <div class="padding-full" [ngClass]="rtlDirection ? 'ca-rtl' : 'ca-ltr'">
        <full-calendar [events]="calendarEvents" #calendar [allDaySlot]="false" [buttonText]="buttonLabels"
                       [dir]="rtlDirection ? 'rtl' : 'ltr'"
                       [displayEventTime]="false"
                       [editable]="false"
                       [eventLimit]="2"
                       [firstDay]="1"
                       (eventClick)="loadBottomSheetFromFullCalendar($event)"
                       (dateClick)="loadBottomSheet($event)"
                       (eventRender)="eventRender($event)"
                       [eventLimitText]="''"
                       [handleWindowResize]="true"
                       [header]="header"
                       [locale]="rtlDirection ? 'fa' : 'en'"
                       [plugins]="calendarPlugins"
                       [slotLabelFormat]="slotLabelFormat"
                       [views]="views"
                       class="float-right w-100"
                       defaultView="dayGridMonth"
                       id="full_calendar">
        </full-calendar>
    </div>
</mat-drawer-container>
