<mat-drawer-container [dir]="rtlDirection ? 'rtl' : 'ltr'" autosize class="event-main-datepicker">
  <mat-drawer #drawer [disableClose]="true" mode="side">
    <div class="padding-full text-white">
      <div [dir]="rtlDirection ? 'rtl' : 'ltr'"
           [ngClass]="rtlDirection ? 'float-right calendar-rtl' : 'float-left'"
           class="datepicker-container padding-full round-corner">
        <div class="switch-container height-45 padding-mini-t-b padding-r-l">
          <mat-button-toggle-group #viewMode="matButtonToggleGroup"
                                   (change)="changeViewMode(viewMode.value)"
                                   [value]="viewModeTypes"
                                   class="full-width mat-button-custom height-30 line-height-15 round-corner-all">
            <mat-button-toggle [value]="'container'"
                               class="active overflow-hide half-width font-7-rem line-height-15 height-30">
              <span>Container</span>
            </mat-button-toggle>
            <mat-button-toggle [value]="'google'" class="overflow-hide half-width font-7-rem line-height-15 height-30">
              <span>Google</span>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div *ngIf="viewModeTypes == 'google'">
          <mat-calendar></mat-calendar>
        </div>

        <div *ngIf="viewModeTypes == 'container'">
          <mat-calendar #myCalendar (click)="getPosition($event)" (selectedChange)="onSelect($event)"
                        [dateClass]="dateClass()"></mat-calendar>
          <mat-list *ngIf="events_reminders && events_reminders.reminders.length" class="event-list">
            <div mat-subheader>{{'dashboard.dashboard_toolbar.reminder' | translate}} <b
              class="font-7-rem padding-full">{{'events_handler.main.reminder_count' | translate}}
              : {{events_reminders.reminders.length}}</b></div>
            <div>
              <mat-list-item *ngFor="let item of events_reminders.reminders">
                <mat-icon class="font-full-plus-three-tenth-em" mat-list-icon>access_alarm</mat-icon>
                <div class="font-8-em" mat-line>{{item.description}}</div>
                <div class="font-8-rem" mat-line>{{item.startReminder | jalali:rtlDirection}}</div>
              </mat-list-item>
            </div>
          </mat-list>
        </div>
      </div>
    </div>
  </mat-drawer>
  <div *ngIf="viewModeTypes=='container'" [ngClass]="rtlDirection ? 'ca-rtl' : 'ca-ltr'" class="padding-full">
    <button (click)="loadBottomSheet($event)"
            class="width-145 right-15 pos-abs green-gradient text-white line-height-30 font-9-em overflow-hide text-weight-normal"
            mat-raised-button
            tabindex="15">
      <mat-icon class="width-20 height-20 font-full-plus-two-tenth-rem">add</mat-icon>
      <span class="padding-mini-r-l">{{'events_handler.main.add_event_title' | translate}}</span>
    </button>
    <full-calendar #calendar (dateClick)="loadBottomSheet($event)" (eventClick)="loadBottomSheetFromFullCalendar($event)" (eventRender)="eventRender($event)"
                   [allDaySlot]="false"
                   [buttonText]="buttonLabels"
                   [customButtons]="customButtons"
                   [dir]="rtlDirection ? 'rtl' : 'ltr'"
                   [displayEventTime]="false"
                   [editable]="false"
                   [eventLimitText]="''"
                   [eventLimit]="2"
                   [events]="calendarEvents"
                   [firstDay]="1"
                   [handleWindowResize]="true"
                   [header]="header"
                   [locale]="rtlDirection ? 'fa' : 'en'"
                   [plugins]="calendarPlugins"
                   [slotLabelFormat]="slotLabelFormat"
                   [views]="views"
                   class="float-right w-100"
                   defaultView="dayGridMonth"
                   id="full_calendar">
    </full-calendar>
  </div>
  <div *ngIf="viewModeTypes=='google'" [ngClass]="rtlDirection ? 'ca-rtl' : 'ca-ltr'" class="padding-full">
    <full-calendar
      (eventClick)="nothing($event)"
      [dir]="rtlDirection ? 'rtl' : 'ltr'"
      [displayEventTime]="false"
      [editable]="false"
      [eventLimitText]="''"
      [eventLimit]="2"
      [events]="googleCalendarEvents"
      [firstDay]="1"
      [googleCalendarApiKey]="'AIzaSyDRh5gMFmnP207A3zG0c4E8CKCyYObVhSU'"
      [handleWindowResize]="true"
      [header]="header"
      [locale]="rtlDirection ? 'fa' : 'en'"
      [plugins]="calendarGooglePlugins"
      [slotLabelFormat]="slotLabelFormat"
      [views]="views"
      class="float-right w-100"
      defaultView="dayGridMonth"
      id="full_calendar_google">
    </full-calendar>
  </div>
</mat-drawer-container>
