.dateCalendar-nontransparent {
  dp-day-calendar {
    width: 100%;

    .dp-selected {
      color: initial !important;
    }
  }

  .event-point {
    width: 6px;
    height: 6px;
    background: #ff9800;
    border-radius: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 2px;
  }

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffffab !important;

  .event-list {
    .mat-subheader {
      padding-left: 5px !important;
    }
  }

  .dp-calendar-weekday {
    color: #222222 !important;

    &:last-child {
      color: red !important
    }
  }

  .dp-weekdays {
    border-bottom: solid 1px #ffffff4a;
  }

  .dp-calendar-day {
    background: none !important;
    position: relative;
  }

  .dp-calendar-wrapper {
    padding: 0 !important;
    margin-top: 15px !important;
  }

  .dp-day-calendar-container {
    padding: 0 !important;
    background: none !important;
  }

  .dp-calendar-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important
  }

  .dp-nav-header, .dp-nav-btns-container {
    position: initial !important;
    top: initial !important;
    left: initial !important;
    transform: initial !important;
    -webkit-transform: initial !important;

    .dp-calendar-nav-container-left {
      position: absolute;
      left: 0;
      display: flex;
    }

    .dp-calendar-nav-container-right {
      position: absolute;
      right: 0;
      display: flex;
    }

    button {
      background: none !important;
    }
  }

  .dp-nav-header-btn {
    background: none !important;
  }

  .dp-months-row {
    height: calc(100% / 3);
  }

  dp-month-calendar {
    display: block;
    width: 100%;

    .dp-calendar-month, .dp-month-calendar-container {
      background: none !important;
    }
  }

  .dp-calendar-month {
    width: 25%;
  }
}
