<div *ngIf="windowManager.length"
     [ngClass]="rtlDirection ? 'margin-l-auto' : 'margin-r-auto'"
     class="box mat-elevation-z1 pos-rel text-center round-corner height-40 overflow-hide">
  <button (click)="controlWindow(app)"
          *ngFor="let app of windowManager"
          [matTooltip]="rtlDirection ? app.windowService.serviceNameFa : app.windowService.serviceNameEn"
          [ngClass]="{'app-minimized': app.isMinimized}"
          class="app-open pos-rel no-bg no-border no-padding width-40 full-height cursor-pointer"
          matTooltipPosition="above">
    <mat-icon class="text-dark-mode-color">{{app.windowService.icon}}</mat-icon>
  </button>
</div>
