<div *ngIf="form" [dir]="rtlDirection ? 'rtl' : 'ltr'"
     class="pos-abs left-0 right-0 top-0 bottom-0 padding-full z-index-99">
  <h1 class="margin-b-full font-full-em text-weight-500">
    {{'conference.create_or_join_conference' | translate}}
  </h1>

  <a (click)="closeDialog()" [ngClass]="rtlDirection ? 'left-full' : 'right-full'"
     class="pos-abs top-full cursor-pointer text-gray-600">
    <mat-icon class="text-grey-500">close</mat-icon>
  </a>

  <p class="no-margin font-9-em text-gray-700">
    {{'conference.for_create_conf_fill_inputs' | translate}}
  </p>

  <form [formGroup]="form" class="full-height" autocomplete="off">
    <mat-form-field class="full-width font-full-em margin-b-full">
      <mat-icon class="text-gray-500" matPrefix>person</mat-icon>
      <input autoFocus
             autocomplete="off"
             class="text-left padding-mini-r-l"
             dir="ltr"
             formControlName="username" matInput
             placeholder="{{'login_info.username' | translate}}"
             readonly
             required
             tabindex="1"
             type="text">
      <mat-error
        *ngIf="!form.get('username').valid && form.get('username').touched">
        {{'login_info.username_error' | translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width font-full-em margin-b-full">
      <mat-icon class="text-gray-500" matPrefix>meeting_room</mat-icon>
      <input autoFocus
             autocomplete="off"
             class="text-left padding-mini-r-l"
             dir="ltr"
             formControlName="confname" matInput
             placeholder="{{'conference.conf_name' | translate}}"
             required
             tabindex="1"
             type="text">
      <mat-error
        *ngIf="!form.get('confname').valid && form.get('confname').touched">
        {{'conference.conf_name_error' | translate}}
      </mat-error>
    </mat-form-field>

    <button (click)="createRoom()"
            [disabled]="!form.valid"
            class="green-gradient full-width text-white line-height-30 font-9-em text-weight-normal"
            mat-raised-button
            tabindex="3">
      {{'global.submit' | translate}}
    </button>
  </form>
</div>
